<footer class="footer">
  
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 col-xl-4 footer-nav">
        <ul>
          <li><a href="#">Вечный картридж (заправка и замена)</a></li>
          <li><a href="#">Ремонт оргтехники</a></li>
          <li><a href="#">Предоставление оргтехники</a></li>
          <li><a href="#">Продажа оргтехники</a></li>
          <li><a href="#">Продажа расходников</a></li>
          <li><a href="#">Выкуп</a></li>
          <li><a href="#">Утилизация</a></li>
          <li><a href="#">Аутсорсинг печати</a></li>
          <li><a href="#">Доставка и пункты приема</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-5 col-xl-4 footer-subnav">
        <ul>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Партнерам и Франчайзи</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Реквизиты</a></li>
          <li><a href="#">Полезная информация</a></li>
          <li><a href="#">Калькулятор расчета картриджа</a></li>
        </ul>
      </div>

      <div class="col-12 footer-info col-xl-4">

        <div class="footer-info__logo">
          <img src="./files/imgs/icons/logo_w.png" alt="">
        </div>

        <a href="tel:+78002228681" class="footer-info__phone">8 (800) 222-86-81</a>

        <a href="mailto:info@vvk58.ru" class="footer-info__mail">info@vvk58.ru</a>

        <div class="footer-info__social">
          <a href="#" class="vk"></a>
          <a href="#" class="facebook"></a>
          <a href="#" class="youtube"></a>
        </div>

        <div class="footer-info__button js-form">Быстрая<br>заявка</div>

      </div>

      <div class="col-12 footer-copyrights">
        <p>© 2019. VVK. Вечный картртдж и оргтехника</p>
        <p>Разработка сайта <a href="#">Вебстудия58</a></p>
      </div>

    </div>
  </div>
  
</footer>

<div class="callback">
  <div class="callback__back"></div>
  <div class="callback__form">
    <div class="callback__form-exit"></div>
    <form>
      <p>Оставьте вашу заявку, <br>вопрос или комментарий</p>
      <input type="hidden" value="Адрес старницы">
      <input type="hidden" value="Город">
      <label>
        <span>Как обращаться</span>
        <input type="text" placeholder="Александр" required>
      </label>
      <label>
        <span>Мобильный телефон</span>
        <input type="tel" placeholder="+7 (___) ___-__-__" required>
      </label>
      <label>
        <span>E-mail</span>
        <input type="text">
      </label>
      <label>
        <span>Ваш вопрос/комментарий</span>
        <textarea></textarea>
      </label>
      <input type="submit" value="Отправить" class="def-f-button">
    </form>
    <div class="callback__form-out out">
      <img src="./files/imgs/icons/logo2.png" alt="">
      <p>Спасибо <br> за Ваше обращение! </p>
      <span>В ближайшее время ответственный <br> менеджер свяжется с Вами</span>
    </div>
  </div>
</div>

<div class="location"></div>

<div class="org-bye">
  <div class="callback__back"></div>
  <div class="callback__form">
    <div class="callback__form-exit"></div>
    <form>
      <p class="org-bye__title">ТОВАР</p>
      <p class="org-bye__price">ЦЕНА</p>
      <input type="hidden" value="Адрес старницы">
      <input type="hidden" value="Город">
      <input type="hidden" value="Название товара">
      <input type="hidden" value="Цена">
      <label>
        <span>Как обращаться</span>
        <input type="text" placeholder="Александр" required>
      </label>
      <label>
        <span>Мобильный телефон</span>
        <input type="tel" placeholder="+7 (___) ___-__-__" required>
      </label>
      <label>
        <span>Сообщение</span>
        <textarea></textarea>
      </label>
      <input type="submit" value="Отправить" class="def-f-button">
    </form>
    <div class="callback__form-out out">
      <img src="./files/imgs/icons/logo2.png" alt="">
      <p>Спасибо <br> за Ваш заказ! </p>
      <span>В ближайшее время ответственный <br> менеджер свяжется с Вами</span>
    </div>
  </div>
</div>

<div class="thanks">
  <div class="callback__back"></div>
  <div class="callback__form">
    <div class="callback__form-exit"></div>
    <div class="callback__form-out">
      <img src="./files/imgs/icons/logo2.png" alt="">
      <p>Спасибо <br> за Ваш заказ! </p>
      <span>В ближайшее время ответственный <br> менеджер свяжется с Вами</span>
    </div>
  </div>
</div>

<div class="manager-callback">
  <div class="callback__back"></div>
  <div class="callback__form">
    <div class="callback__form-exit"></div>
    <form>
      <p>Закажите обратный звонок</p>
      <input type="hidden" value="Адрес старницы">
      <input type="hidden" value="Город">
      <label>
        <span>Как обращаться</span>
        <input type="text" placeholder="Александр" required>
      </label>
      <label>
        <span>Мобильный телефон</span>
        <input type="tel" placeholder="+7 (___) ___-__-__" required>
      </label>
      <label>
        <span>Ваш вопрос/комментарий</span>
        <textarea></textarea>
      </label>
      <input type="submit" value="Отправить" class="def-f-button">
    </form>
    <div class="callback__form-out out">
      <img src="./files/imgs/icons/logo2.png" alt="">
      <p>Спасибо <br> за Ваше обращение! </p>
      <span>В ближайшее время ответственный <br> менеджер свяжется с Вами</span>
    </div>
  </div>
</div>

<div class="map-open">
  <div class="callback__back"></div>
  <div class="callback__form">
    <div class="callback__form-exit"></div>
    <div class="map-open__wrap">
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A57f5b10f344b51dd6eb42d4539130fc5d510d4732f329d5100987668118a1a25&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
    </div>
  </div>
</div>

<div class="add-to-cart-callback">
  <div class="callback__back"></div>
  <div class="callback__form">
    <div class="callback__form-exit"></div>
    <div class="add-to-cart-callback__wrap">
      <p>Товар добавлен в корзину</p>
      <a href="/cart.html" class="go-to-cart">Перейти <br>в корзину</a>
      <a href="/order.html" class="blue_button go-to-order">Перейти <br>к оформлению заказа</a>
    </div>
  </div>
</div>

<div class="first-slider__form">
  <div class="first-slider__form-back"></div>
  <div class="first-slider__form-in">
    <div class="first-slider__form-in__exit"></div>
    <form>
      <p>Оставьте вашу заявку, <br>вопрос или комментарий</p>
      <input type="hidden" name="URL" value="Страница">
      <input type="hidden" name="CITY" value="Город">
      <label>
        <span>Название организации/имя</span>
        <input type="text" placeholder="Александр" name="NAME" required>
      </label>
      <label>
        <span>Мобильный телефон</span>
        <input type="tel" placeholder="+7 (___) ___-__-__" name="PHONE" required>
      </label>
      <label>
        <span>E-mail</span>
        <input type="text" name="EMAIL">
      </label>
      <label>
        <span>Количество картриджей для заправки</span>
        <input type="text" placeholder="Количество" name="TEXT" required>
      </label>
      <input type="submit" value="Отправить" class="def-f-button">
    </form>
  </div>
  <div class="first-slider__form-out out">
    <img src="./files/imgs/icons/logo2.png" alt="">
    <p>Спасибо <br> за Ваше обращение! </p>
    <span>В ближайшее время ответственный <br> менеджер свяжется с Вами</span>
  </div>
</div>

