<header class="header">

  <div class="container d-xl-none">
    <div class="row burger-row">
      <div class="col-12" style="position: relative; height: 35px;">
        <div class="header-burger">
          <div class="header-burger__link">
            <div class="header-burger__link-line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-top">

    <div class="container">
      <div class="row">

        <div class="col-12 col-xl-3 header-logo">
          <a href="/index.html">
            <img src="./files/imgs/icons/logo.png" alt="">
          </a>
        </div>

        <div class="col-12 col-xl-2 header-title">
          <span>Для работы офисов без перерывов</span>
        </div>

        <div class="col-12 col-xl-3 header-phones">
          <div class="header-phones__inner">
            <a href="tel:+78002228681">8(800) 222-86-81</a>
            <a href="tel:+78421214343">8(8421) 21-43-43</a>
          </div>
        </div>

        <div class="col-12 col-xl-3 header-address">
          <div class="header-address__inner">
            <span>Ваш город</span>
            <span class="header-address__inner-cur">Пенза</span>
          </div>
        </div>

        <div class="col-12 col-xl-3 header-social">
          <div class="header-social__search">
            <div class="header-social__search-link"></div>
          </div>
          <div class="header-social__links">
            <a class="header-social__links-cart" href="/cart.html"><span>3</span><img src="./files/imgs/icons/cart.png" alt=""></a>
            <a class="vk" href="#"><img src="./files/imgs/icons/vk.png" alt=""></a>
            <a class="facebook" href="#"><img src="./files/imgs/icons/face.png" alt=""></a>
            <a class="youtube" href="#"><img src="./files/imgs/icons/you.png" alt=""></a>
          </div>
          <div class="header-social__popup">
            <div class="header-social__popup-exit"></div>
            <div class="header-social__popup-input">
              <input type="search" placeholder="Поиск по сайту">
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="header-bot">

    <div class="container">
      <div class="row">

        <nav class="col-12 col-xl-12 header-navigation">

          <ul>
            <li><a href="/zapravka.html">Заправка и замена картриджей <span>Вечный картридж</span></a></li>
            <li><a href="/def-page.html">Ремонт оргтехники с <span>предоставлением подмены</span></a></li>
            <li><a href="/def-page.html">Покопийная Печать</a></li>
            <li><a href="/org.html">Продажа оргтехники б/у <span>с гарантией</span></a></li>
            <li><a href="/rashod.html">Продажа расходных материалов</a></li>
            <li><a href="/def-page.html">Выкуп</a></li>
            <li><a href="/def-page.html">Утилизация</a></li>
            <li><a href="/pechat.html">Аутсорсинг печати</a></li>
          </ul>

        </nav>

        <div class="col-12 header-contacts">

          <a href="/dostavka.html" class="header-contacts__first">
            Контакты <br class="w1200">доставка <br>пункты приёма
          </a>

          <a href="/onas.html" class="header-contacts__second">
            О нас <br class="w1200">партнеры  <br>франчайзи
          </a>

          <div class="header-contacts__fast js-form">
            Быстрая заявка
          </div>


        </div>

      </div>
    </div>

  </div>

  <div class="header-address__popup">
    <div class="header-address__popup-back"></div>
    <div class="header-address__popup-inner">
      <div class="header-address__popup-exit"></div>
      <div class="header-address__popup-title">
        <span>Выберете свой город</span>
      </div>
      <div class="header-address__popup-search">
        <input type="search" placeholder="Ваш город">
      </div>
      <div class="header-address__popup-list">
        <ul>
          <li>Пенза</li>
          <li>Город 1</li>
          <li>Город 2</li>
          <li>Город 3</li>
          <li>Город 4</li>
          <li>Город 5</li>
          <li>Город 6</li>
        </ul>
      </div>
    </div>
  </div>

</header>