<style>

  #preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-color: white;
  }

  #preloader img {
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  body.visible #preloader{
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }

  body.hidden #preloader {
    visibility: hidden;
    opacity: 0;
    transition: all 0s 2s, opacity 2s linear;
    height: 0;
    width: 0;

  }

</style>

<div id="preloader" class="visible">
  <img src="./files/imgs/icons/logo.png" alt="">
</div>

<script>
  var removePreloader = function (ms) {
    return window.setTimeout(function () {
      document.body.classList.add('hidden');
      document.body.classList.remove('visible');
    }, ms);
  };

  document.body.classList.add('visible');
  var defaultRemove = removePreloader(3000);

  window.onload = function () {
    clearTimeout(defaultRemove);
    removePreloader(0);
  }
</script>