
.def-title{
  font-size: 30px;
  margin-bottom: 20px;

  span{
    color: #da3134;
    font-size: inherit;
  }
}

.breadcrumbs{

  p{
    font-size: 13px;
    color: #0f75bc;

    a, span{
      font-size: inherit;
      color: inherit;
    }
  }
}

.def-f-button{
  background-color: #022168;
  width: 270px;
  margin: 0 auto 25px;
  height: 45px;
  color: #fff;
  line-height: 38px;
  text-align: center;
  cursor: pointer;

  &:hover{
    background-color: #002884;
  }
}

.subform{
  max-width: 100%;
  width: 400px;
  background-color: #6d7991;
  padding: 30px 0 20px;
  margin: 0 auto 25px;

  &__title{
    text-align: center;
    max-width: 100%;
    width: 280px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    margin: 0 auto 25px;
  }

  &__button{
    position: relative;
    width: 90%;
    max-width: 300px;
    height: 50px;
    margin: 0 auto;


    &::before{
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #fff;
      left: -10px;
      top: -10px;
    }

    &-inner{
      position: relative;
      width: 100%;
      height: 100%;
      background-color: #da3134;
      z-index: 1;
      color: #fff;
      text-align: center;
      font-weight: 700;
      display: flex;
      align-items: center;
      font-size: 15px;
    }
  }
}

.def-face{
  margin: 0 auto 35px;
  width: 360px;
  max-width: 100%;
  border-radius: 5px;
  border: 15px solid rgb(102, 102, 102);
  background-color: #fff;
  padding-top: 20px;

  .img{
    width: 190px;
    margin: 0 auto 20px;

    img{
      border-radius: 50%;
    }
  }

  .text{
    margin-bottom: 15px;

    &-prof{
      font-size: 14px;
      margin-bottom: 8px;
      text-align: center;
    }

    &-name{
      font-size: 24px;
      font-family: $bold-font;
      margin-bottom: 30px;
      text-align: center;
    }

    &-phone{
      display: block;
      font-size: 18px;
      text-align: center;
      margin-bottom: 3px;
    }

    &-mail{
      display: block;
      font-size: 18px;
      text-align: center;
    }
  }

  .bottom-block{
    background-color: #da3134;
    padding-bottom: 15px;
    padding-top: 24px;

    &__text{
      color: #fff;
      font-family: $bold-font;
      margin-bottom: 20px;
      text-align: center;
    }

    &__button{
      font-family: $bold-font;
      width: 240px;
      height: 40px;
      background-color: #fff;
      text-align: center;
      margin: 0 auto;
      line-height: 36px;
    }
  }
}

.red-button{
  cursor: pointer;
  
  &:hover{
    background-color: #f1393c;
  }
}

.white-button{
  cursor: pointer;
  
  &:hover{
    background-color: #fddfdf;
  }
}

.blue_button{
  background-color: rgb(51, 93, 167);
  width: 136px;
  height: 41px;
  font-family: $bold-font;
  color: #fff;
  line-height: 41px;
  text-align: center;
  cursor:  pointer;
  &:hover{
    background-color: rgb(3, 23, 71);
    color: #fff;
  }
}

.c-items__pag, .org__items__pag{

  a.active{
    color: #da3134;
    font-size: 18px;
    font-weight: 600;
  }


}

#page-form{

  .custom-form{
    position: static;
    transform: translate(0, 0);
  }
}

//всплывающая форма со слайдера
.first-slider__form{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101;

  &-back{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #636363;
    cursor: pointer;
  }

  &-in{
    position: absolute;
    left: 50%;
    top: calc(50% + 15px);
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: calc(100% - 40px);
    background-color: #fff;
    padding: 25px 20px;

    &__exit{
      width: 36px;
      height: 36px;
      background-color: #636363;
      position: absolute;
      right: -5px;
      top: -40px;
      border-radius: 50%;
      cursor: pointer;

      &:hover{
        box-shadow: -2px 2px 8px 0px rgba(0,0,0,0.75);
        background-color: #848484;
      }

      &::before{
        display: block;
        content: '';
        width: 22px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 7px;
        top: 17px;
        transform: rotate(45deg);
      }

      &::after{
        display: block;
        content: '';
        width: 22px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 7px;
        top: 17px;
        transform: rotate(-45deg);
      }
    }

    form{
      display: flex;
      flex-direction: column;
      align-items: center;

      p{
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
      }

      label{
        margin-bottom: 10px;
        display: block;

        span{
          display: block;
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 5px;
        }

        input{
          width: 440px;
          max-width: 100%;
          border: 1px solid #8d8d8d;
          box-shadow: inset 0px 1px 1px 0px rgba(0, 1, 1, 0.3);
          height: 43px;
          padding: 0 10px;
        }

        textarea{
          width: 440px;
          max-width: 100%;
          border: 1px solid #8d8d8d;
          box-shadow: inset 0px 1px 1px 0px rgba(0, 1, 1, 0.3);
          padding: 5px 10px;
          height: 120px;
        }
      }

      > .def-f-button{
        background-color: #da3134;
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
        text-align: center;
        margin: 0;
        border: none;
        padding: 0;
        height: 60px;
        width: 440px;
        max-width: 100%;
        cursor: pointer;

        &:hover{
          background-color: #f1393c;
        }
      }

      &.out{
        display: none;
      }
    }
  }

  &-out{
    display: block;
    position: absolute;
    left: 50%;
    top: calc(50% + 15px);
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: calc(100% - 40px);
    background-color: #fff;
    padding: 25px 20px;

    img{
      margin: 0 auto 25px;
      width: 150px;
    }

    p{
      font-size: 18px;
      text-align: center;
      margin-bottom: 25px;
      font-weight: 600;
    }

    span{
      text-align: center;
      display: block;
    }

    &.out{
      display: none;
    }
  }
}

//fancybox
.fancybox-navigation svg path{
  fill: $blue-color!important;
}

@media screen
and (max-width: 1199px){

  .def-ask{
    display: block;
    padding-top: 40px;

    &__wrap{
      position: relative;
      background-color: #6d7991;
      height: 240px;
      margin-left: auto;
      padding-left: 135px;
      padding-right: 25px;
      padding-top: 30px;
      width: 100%;
      max-width: 100%;
    }

    &__img{
      height: 150px;
      position: absolute;
      left: -25px;
      top: -25px;
    }

    &__title{
      text-align: right;
      color: #fff;
      font-size: 26px;
      font-family: $bold-font;
      margin-bottom: 50px;
    }

    &__button{
      width: 620px;
      height: 85px;
      max-width: 100%;
      margin: 0 auto;
      position: relative;

      &:before{
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: -20px;
        top: -20px;
        background-color: #fff;
      }

      &-inner{
        position: relative;
        z-index: 1;
        background-color: #da3134;
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 26px;
        font-family: $bold-font;
        text-align: center;
        line-height: 76px;
      }
    }
  }
}

@media screen
and (min-width: 1200px){

  .def-ask{
    padding-top: 20px;
    display: block;

    &__wrap{
      position: relative;
      background-color: #6d7991;
      height: 240px;
      margin-left: auto;
      padding-left: 135px;
      padding-right: 25px;
      padding-top: 30px;
    }

    &__img{
      height: 300px;
      position: absolute;
      left: -190px;
      top: -30px;
    }

    &__title{
      text-align: right;
      color: #fff;
      font-size: 36px;
      font-family: $bold-font;
      margin-bottom: 50px;
    }

    &__button{
      width: 620px;
      height: 85px;

      margin: 0 auto;
      position: relative;

      &:before{
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: -20px;
        top: -20px;
        background-color: #fff;
      }

      &-inner{
        position: relative;
        z-index: 1;
        background-color: #da3134;
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 36px;
        font-family: $bold-font;
        text-align: center;
        line-height: 76px;
      }
    }
  }

  .def-title{
    margin-bottom: 20px;
  }

  .subform{
    width: 100%;

    &__title{
      width: 100%;
      margin-bottom: 40px;
    }

    &__button{
      cursor: pointer;
    }
  }

  .bot-text{

    &__title{
      max-width: 485px;
    }
  }
}