.root-item-selected, .item-selected {
  color: #335da7 !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}
.bckgrd {
  background-color: #eaeceb;
  color: #335da7 !important;
  text-decoration: none !important;
}