
.footer{
  background-color: #0f75bc;
  padding: 15px 0;

  &-nav, &-subnav{
    margin-bottom: 20px;

    ul{
      list-style: none;
      padding-left: 0;

      li{
        margin-bottom: 3px;

        &:last-child{
          margin-bottom: 0;
        }

        a{
          color: #fff;
          display: block;
        }
      }
    }
  }

  &-info{

    &__logo{
      width: 300px;
      max-width: 100%;
      margin: 0 auto 25px;
    }

    &__phone{
      color: #fff;
      font-family: $bold-font;
      display: block;
      text-align: center;
    }

    &__mail{
      color: #fff;
      font-family: $bold-font;
      display: block;
      margin-bottom: 30px;
      text-align: center;
    }

    &__social{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      a{
        width: 40px;
        height: 30px;
        margin-right: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &:last-child{
          margin-right: 0;
        }

        &.vk{
          background-image: url('./files/imgs/icons/vk2.png');
        }

        &.facebook{
          background-image: url('./files/imgs/icons/face2.png');
        }

        &.youtube{
          background-image: url('./files/imgs/icons/you2.png');
        }
      }
    }

    &__button{
      margin: 0 auto 35px;
      border-radius: 50%;
      background: linear-gradient( 180deg, rgb(182,6,6) 0%, rgb(239,42,42) 100%);
      border: 10px solid rgb(208, 222, 232);
      width: 114px;
      height: 114px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 1.5;
      font-family: $bold-font;
      cursor: pointer;

      &:hover{
        background: #ba0808;
      }
    }
  }

  &-copyrights{

    p{
      text-align: center;
      color: #fff;

      a{
        color: inherit;
        font-size: inherit;
      }

      &:first-child{
        margin-bottom: 10px;
      }
    }
  }

}

.callback{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101;

  &__back{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #636363;
    cursor: pointer;
  }

  &__form{
    position: absolute;
    left: 50%;
    top: calc(50% + 15px);
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: calc(100% - 40px);
    background-color: #fff;
    padding: 25px 20px;

    &-exit{
      width: 36px;
      height: 36px;
      background-color: #636363;
      position: absolute;
      right: -5px;
      top: -40px;
      border-radius: 50%;
      cursor: pointer;

      &:hover{
        box-shadow: -2px 2px 8px 0px rgba(0,0,0,0.75);
        background-color: #848484;
      }
      
      &::before{
        display: block;
        content: '';
        width: 22px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 7px;
        top: 17px;
        transform: rotate(45deg);
      }

      &::after{
        display: block;
        content: '';
        width: 22px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 7px;
        top: 17px;
        transform: rotate(-45deg);
      }
    }

    form{
      display: flex;
      flex-direction: column;
      align-items: center;

      p{
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
      }

      label{
        margin-bottom: 10px;
        display: block;

        span{
          display: block;
          font-weight: 700;
          font-size: 14px;
          margin-bottom: 5px;
        }

        input{
          width: 440px;
          max-width: 100%;
          border: 1px solid #8d8d8d;
          box-shadow: inset 0px 1px 1px 0px rgba(0, 1, 1, 0.3);
          height: 43px;
          padding: 0 10px;
        }

        textarea{
          width: 440px;
          max-width: 100%;
          border: 1px solid #8d8d8d;
          box-shadow: inset 0px 1px 1px 0px rgba(0, 1, 1, 0.3);
          padding: 5px 10px;
          height: 120px;
        }
      }

      > .def-f-button{
        background-color: #da3134;
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
        text-align: center;
        margin: 0;
        border: none;
        padding: 0;
        height: 60px;
        width: 440px;
        max-width: 100%;
        cursor: pointer;

        &:hover{
          background-color: #f1393c;
        }
      }

      &.out{
        display: none;
      }
    }

    &-out{
      display: block;

      img{
        margin: 0 auto 25px;
        width: 150px;
      }

      p{
        font-size: 18px;
        text-align: center;
        margin-bottom: 25px;
        font-weight: 600;
      }

      span{
        text-align: center;
        display: block;
      }

      &.out{
        display: none;
      }
    }
  }
}

.org-bye{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101;
}

.thanks{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101;
}

.manager-callback{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101;
}

.map-open{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101;

  .callback__form{
    width: 100%;
  }
}

.add-to-cart-callback{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101;

  br{
    display: none;
  }

  .add-to-cart-callback__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p{
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
  }

  .go-to-cart{
    background-color: #da3134;
    color: #fff;
    font-size: 18px;
    font-family: "Gotham Pro Bold", sans-serif;
    text-align: center;
    width: 300px;
    max-width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 25px;

    &:hover{
      background-color: #f1393c;
    }
  }

  .go-to-order{
    display: inline-block;
    margin-left: auto;
    width: 300px;
    max-width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }
}

@media screen
and (min-width: 1200px) {

  .footer{
    padding: 20px 0;
    position: relative;

    &-nav, &-subnav{

      ul{

        li{
          margin-bottom: 10px;
        }
      }
    }

    &-info{

      &__logo{
        margin: 0 0 25px;

        img{
          margin-left: 0;
        }
      }
      
      &__phone{
        text-align: left;
        margin-bottom: 5px;
      }
      
      &__mail{
        text-align: left;
      }

      &__social{
        width: 120px;
      }

      &__button{
        position: absolute;
        right: 50px;
        top: 125px;
      }
    }
  }

  .add-to-cart-callback{

    br{
      display: block;
    }

    .add-to-cart-callback__wrap{
      flex-direction: row;
      flex-wrap: wrap;

      p{
        min-width: 100%;
      }

      .go-to-cart{
        max-width: 250px;
        margin-bottom: 0;
        height: auto;
        line-height: 1.5;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
      }

      .go-to-order{
        max-width: 250px;
        height: auto;
        line-height: 1.5;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
      }

      img{
        padding-top: 25px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}


