.header{
  padding-top: 15px;
  z-index: 101;
  position: relative;

  &-top{

  }

  &-bot{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow-y: scroll;
    background-color: #d0dee8;
    z-index: 9;
    padding-top: 55px;

  }

  &-burger{
    position: absolute;
    z-index: 10;
    width: 35px;
    height: 35px;
    right: 15px;

    &__link{

      &-line{
        width: 35px;
        height: 4px;
        background-color: #0f75bc;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        .burger-opened &{
          background-color: transparent;

          &::before{
            transform: rotate(45deg) translateY(0);
            top: 0;
          }

          &::after{
            transform: rotate(-45deg) translateY(0);
            top: 0;
          }
        }

        &::before{
          display: block;
          content: '';
          width: 35px;
          height: 4px;
          background-color: #0f75bc;
          position: absolute;
          left: 0;
          top: -6px;
        }

        &::after{
          display: block;
          content: '';
          width: 35px;
          height: 4px;
          background-color: #0f75bc;
          position: absolute;
          left: 0;
          top: 6px;
        }
      }
    }
  }

  &-logo{
    margin-bottom: 20px;

    a{
      display: flex;
      justify-content: center;
    }
  }

  &-title{
    margin-bottom: 25px;

    span{
      font-size: 15px;
      font-family: 'Gotham Pro Regular Italic', sans-serif;
      text-align: center;
      display: block;
    }
  }

  &-phones{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    &__inner{
      position: relative;
      margin: 0 auto;
      display: inline-block;
      padding-left: 30px;
      
      &:before{
        display: block;
        content: '';
        width: 20px;
        height: 20px;
        background-image: url('./files/imgs/icons/phone.png');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 3px;
      }
      
      a{
        display: block;
        font-size: 26px;
        font-family: $bold-font;

        &:first-child{
          margin-bottom: 5px;
        }
      }
    }
  }

  &-address{
    display: block;
    max-width: 140px;
    min-width: 140px;
    padding-right: 0;
    position: relative;
    margin: 0 auto 15px;

    &__inner{
      position: relative;
      margin: 0 auto;
      display: inline-block;
      padding-left: 30px;

      &:before{
        display: block;
        content: '';
        width: 20px;
        height: 20px;
        background-image: url('./files/imgs/icons/address.png');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 3px;
      }
      
      &-cur{
        text-decoration: underline;
        cursor: pointer;
      }

    }

    &__popup{
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;

      &-back{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
        background-color: rgb(99, 99, 99);
      }

      &-inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        width: 300px;
        max-width: 100vw;
        padding: 35px 15px 25px;
        box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);

      }

      &-exit{
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;

        &::before{
          display: block;
          content: '';
          position: absolute;
          left: 1px;
          top: 6px;
          width: 12px;
          height: 2px;
          background-color: #555555;
          transform: rotate(45deg);
        }

        &::after{
          display: block;
          content: '';
          position: absolute;
          left: 1px;
          top: 6px;
          width: 12px;
          height: 2px;
          background-color: #555555;
          transform: rotate(-45deg);
        }
      }

      &-title{
        margin-bottom: 15px;
        span{
          font-family: $bold-font;
          font-size: 18px;

        }
      }

      &-search{
        position: relative;
        margin-bottom: 15px;

        &::after{
          display: block;
          content: '';
          width: 14px;
          height: 14px;
          background-image: url('./files/imgs/icons/search.png');
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }

        input{
          display: block;
          width: 100%;
          padding-right: 30px;
          border: 1px solid rgb(184, 184, 184);
          border-radius: 5px;
          background-color: rgb(255, 255, 255);
          box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
          height: 25px;
          padding-left: 15px;
          color: #000;

          &::placeholder{
            color: #000;
          }
        }
      }

      &-list{

        ul{
          padding: 0 5px;
          display: flex;
          flex-wrap: wrap;
          list-style: none;

          li{
            width: 100%;
            padding: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;

            img{
              width: 50px;
              margin-right: 25px;
            }
          }
        }
      }
    }

  }

  &-social{
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    position: relative;

    &__search{

      &-link{
        display: block;
        width: 16px;
        height: 16px;
        background-image: url('./files/imgs/icons/search.png');
        background-position: center center;
        margin-right: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
      }

    }

    &__links{
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .odnok, .insta{
        width: 20px;
      }

      a{
        margin-right: 15px;
        &:last-child{
          margin-right: 0;
        }
      }

      &-cart{
        position: relative;

        span{
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          width: 15px;
          height: 15px;
          overflow: hidden;
          color: red;
          position: absolute;
          left: -5px;
          top: -5px;
          background-color: #fff;
          border: 1px solid rgb(36, 36, 36);
          border-radius: 50%;
          font-size: 11px;
        }
      }
    }

    &__popup{
      display: none;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      width: 300px;
      max-width: 100vw;
      padding: 35px 15px 25px;
      box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);

      &-exit{
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;

        &::before{
          display: block;
          content: '';
          position: absolute;
          left: 1px;
          top: 6px;
          width: 12px;
          height: 2px;
          background-color: #555555;
          transform: rotate(45deg);
        }

        &::after{
          display: block;
          content: '';
          position: absolute;
          left: 1px;
          top: 6px;
          width: 12px;
          height: 2px;
          background-color: #555555;
          transform: rotate(-45deg);
        }
      }

      &-input{
        position: relative;
        margin-bottom: 15px;

        &::after{
          display: block;
          content: '';
          width: 14px;
          height: 14px;
          background-image: url('./files/imgs/icons/search.png');
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }

        input{
          display: block;
          width: 100%;
          padding-right: 30px;
          border: 1px solid rgb(184, 184, 184);
          border-radius: 5px;
          background-color: rgb(255, 255, 255);
          box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
          height: 25px;
          padding-left: 15px;
          color: #000;

          &::placeholder{
            color: #000;
          }
        }
      }

    }
  }

  &-navigation{

    ul{
      list-style: none;
      padding-left: 0;

      li{
        margin-bottom: 40px;

        a{
          color: #0d3363;
          font-size: 16px;
          line-height: 1.5;
          text-align: center;
          display: block;

          span{
            font-family: $bold-font;
            font-size: inherit;
            color: inherit;
            display: block;
            line-height: inherit;
            text-align: center;
          }
        }
      }
    }
  }

  &-contacts{
    position: relative;
    padding-top: 30px;
    padding-bottom: 65px;
    background-color: #0f75bc;
    margin-bottom: 80px;

    a{
      display: block;
    }

    &__first{
      margin-bottom: 30px;
      text-align: center;
      font-size: 16px;
      font-family: $bold-font;
      color: #fff;
    }

    &__second{
      text-align: center;
      font-size: 16px;
      font-family: $bold-font;
      color: #fff;
    }

    &__fast{
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background: linear-gradient( 180deg, rgb(182,6,6) 0%, rgb(239,42,42) 100%);
      border: 10px solid #d0dee8;
      display: flex;
      align-items: center;
      text-align: center;
      color: #fff;
      font-size: 20px;
      font-family: $bold-font;
      position: absolute;
      bottom: -80px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;

      &:hover{
        background: #ba0808;
      }
    }

    .w1200{
      display: none;
    }
  }

}


@media screen
and (min-width: 1200px) {

.header{
  padding-top: 10px;

  &-top{
    padding-bottom: 20px;

    .row{
      align-items: center;
    }
  }

  &-bot{
    display: block;
    position: relative;
    padding-top: 22px;
    overflow-y: inherit;
    height: 100px;
    margin-bottom: 45px;

    .row{
      position: relative;
    }
  }

  &-logo{
    margin-bottom: 0;
  }

  &-title{
    margin-bottom: 0;
  }

  &-phones{
    margin-bottom: 0;
    a{
      font-size: 22px;
    }
  }

  &-address{
    margin: 0;

    &__popup{
      border-radius: 5px;
      z-index: 10;

      &-inner{
        padding: 55px 35px 35px;
      }
    }
  }

  &-social{
    max-width: 240px;
    margin: 0;

    &__popup{
      border-radius: 5px;
      z-index: 10;
      width: 700px;
      transform: translateX(0);
      left: -470px;
      top: 40px;
      padding-top: 35px;
      padding-bottom: 15px;
    }
  }

  &-navigation{

    ul{
      display: flex;
      justify-content: space-between;
      width: 810px;

      li{
        margin-bottom: 0;
        padding-right: 10px;
        position: relative;
        height: 78px;

        &:hover::after{
          display: block;
          content: '';
          background-color: #0f75bc;
          width: 100%;
          height: 5px;
          position: absolute;
          left: 0;
          bottom: 0;
        }

        &:last-child{
          padding-right: 0;
        }

        a{
          font-size: 12px;
          font-weight: 700;
        }
      }
    }
  }

  &-contacts{
    display: flex;
    position: absolute;
    left: calc(760px + 100px);
    padding: 0;
    height: 100px;
    margin: 0;

    a{
      display: flex;
    }

    &::before{
      display: block;
      content: '';
      height: 0;
      width: 0;
      border-right: 80px solid #0f75bc;
      border-top: 100px solid transparent;
      position: absolute;
      left: -80px;
      top: 0;
      z-index: -1;
    }

    .w1200{
      display: block;
    }

    &__first{
      font-size: 12px;
      margin: 0;
      position: absolute;
      left: -30px;
      //top: 35px;
    }

    &__second{
      font-size: 12px;
      margin: 0;
      position: absolute;
      left: 85px;
      //top: 35px;
    }

    &__first, &__second{
      top: 0;
      height: 100%;
      display: flex;
      align-items: center;

      &:hover{
        color: #fff;
      }

      &:hover::after{
        display: block;
        content: '';
        background-color: #fff;
        width: 100%;
        height: 5px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    &__fast{
      transform: translate(0, -50%);
      position: absolute;
      left: 170px;
      top: 50%;
    }
  }
}

}