.first{

  &-slider{

    .item{
      height: 400px;
      position: relative;
      overflow: hidden;

      img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: none;
        width: auto;
      }

      .main-slider-item__link{
        position: absolute;
        left: calc(50% + 20px);
        //top: 240px;
        bottom: 40px;
        transform: translateX(-50%);

        &::before{
          display: block;
          content: '';
          width: 85%;
          height: 85%;
          background-color: #fff;
          position: absolute;
          left: -20px;
          top: -20px;
          transform: skewX(-25deg)
        }

        h2{
          width: 270px;
          //padding: 10px 20px;
          background-color: #6d7991;
          //font-size: 15px;
          color: #fff;
          font-family: $bold-font;
          position: relative;
          z-index: 1;

          font-size: 20px;
          padding: 15px 20px;
          text-align: center;
          text-transform: uppercase;
          border-radius: 5px;
        }
      }

    }

    .owl-nav{
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%);
      width: 90%;
      display: flex;
      justify-content: space-between;
      height: 0!important;

      button.owl-prev, button.owl-next {
        width: 50px;
        height: 50px;
        border: 2px solid #b90808;
        border-radius: 50%;
        outline: none;
        display: block;
        position: relative;

        &::before {
          content: '\2039';
          position: absolute;
          width: 100%;
          height: 100%;
          color: #b90808;
          font-size: 60px;
          top: -10%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      button.owl-next {

        &::before {
          transform: rotate(180deg);
          top: 12%;
        }
      }
    }

    &__sub-block{
      position: absolute;
      left: 50%;
      top: 20px;
      transform: translateX(-50%);
      width: 600px;
      max-width: calc(100% - 60px);
      z-index: 1;

      img{
        position: static!important;
        transform: translate(0)!important;
        max-width: 100%;
        width: 300px !important;
        margin: 0 auto;
      }

      &__text{
        padding: 15px 20px;
        background-color: #6d7991;
        color: #fff;
        margin-bottom: 20px;
        font-weight: 600;
        border-radius: 5px;

        p{
          color: inherit;
          line-height: 1.3;
        }

        span{
          color: #b90808;
          font-weight: 700;
          margin: 0 5px;
        }
      }
    }
  }
}

.about{

  &__text{

    p{
      margin-bottom: 20px;

      span{
        font-family:$bold-font;
      }
    }
  }

  &__form{
  //  см блоки
  }
  
  &__more{
    
    a{
      color: #0f75bc;
    }
  }
}

.advantages{
  padding-top: 45px;
  background-color: #e5e5e5;
  padding-bottom: 50px;

  .item{
    background-color: #fff;
    padding-bottom: 50px;

    &__img{
      margin-bottom: 30px;
    }

    &__text{
      padding: 0 25px;
      height: 54px;
    }

    &__subtext{
      display: none;
    }
  }

  .owl-dots{
    bottom: -30px;
  }
}

.def-ask.backe5e5e5{
  background-color: #e5e5e5;
}

.clients{

  &__top-text{
    margin-bottom: 25px;
  }

  &__slider{
    padding-bottom: 25px;
    margin-bottom: 30px;

    .item{

      &__img{
        img{
          margin: 0 auto;
        }
      }

      &__title{
        display: none;
      }

      &__text{
        display: none;
      }
    }
  }

  &__monial{

    &-title{
      position: relative;
      padding-left: 50px;
      padding-top: 20px;
      background-image: url('./files/imgs/icons/monial.png');
      background-size: auto;
      background-position: left top;
      background-repeat: no-repeat;
      font-family: $bold-font;
      margin-bottom: 20px;
    }

    &-text{

    }
  }

}

.delivery{
  background-color: #999999;
  padding-top: 25px;
  padding-bottom: 35px;

  .def-title{
    color: #fff;
  }

  &__text{
    margin-bottom: 30px;

    p{
      color: #fff;
      margin-bottom: 25px;

      a, span{
        color: #d6383b;
        font-size:inherit;
        font-family: $bold-font;
      }

      &:last-child{
        margin-bottom: 0;
        padding-left: 50px;
        background-image: url('./files/imgs/icons/address2.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
      }
    }
  }

  &__imgs{

    &-map{
      margin: 0 auto 25px;
      cursor: pointer;
    }

    &-face{

    }

    &-build{
      margin: 0 auto;
      padding: 15px;
      background: white;
      border-radius: 10px;
    }
  }
}

.services{

  &-subtitle{
    font-family: 'Gotham Pro Regular Italic';
    font-size: 18px;
    font-weight: 700;
    color: #da3134;
    text-align: center;
    margin-bottom: 25px;
  }

  &-text{
    margin-bottom: 25px;

    p{
      margin-bottom: 30px;

      &:last-child{
        margin-bottom: 0;
      }

      span{
        font-family: $bold-font;
        color: #1c3d66;
      }
    }
  }

  &-product{

    .item{
      background-color: rgb(153, 153, 153);
      padding: 20px 15px 15px;
      width: 380px;
      max-width: 100%;
      margin: 0 auto;

      &__title{
        margin-bottom: 15px;

        p{

          font-size: 18px;
          font-family: $bold-font;
          color: #fff;
          text-align: center;

          span{
            font-size: inherit;
            font-family: inherit;
            color: inherit;
          }
        }
      }
      
      &__text{
        width: 100%;
        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 15px;

        &-img{
          max-width: 220px;
          margin: 0 auto 10px;

          img{
            margin: 0 auto;
          }
        }

        &-hot{
          width: calc(100% + 30px);
          position: relative;
          left: -15px;
          height: 80px;
          background-color: #da3134;
          padding-top: 10px;
          margin-bottom: 40px;
          
          span{
            font-size: 20px;
            font-family: $bold-font;
            color: #fff;
            text-align: center;
            display: block;
          }
          
          a{
            width: 150px;
            height: 60px;
            background-color: #666666;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-family: $bold-font;
            line-height: 1.2;
            text-align: center;
          }
        }

        &-price{

          p{
            color: #da3134;
            text-align: center;
            font-weight: 600;
          }

          span{
            font-size: 24px;
            font-family: $bold-font;
            color: #da3134;
          }
        }
      }
      
    }

    &__analog{
      padding-top: 15px;
      background-color: #fff;
      color: #999999;
      text-align: center;
    }
  }
}

.full-wrap{

  .orgteh &__left{
    order: 1;
    margin-bottom: 25px;
  }

  &__left{
    order: 2;

    .zapravka-side-block{
      background-color: #999999f0;
      padding: 20px 15px 15px;
      width: 380px;
      max-width: 100%;
      margin: 0 auto 20px;

      h2{
        font-size: 18px;
        font-family: "Gotham Pro Bold", sans-serif;
        color: #fff;
        text-align: center;
        margin-bottom: 15px;
      }
      
      h3, h4{
        padding: 15px 20px;
        background: #fff;
        line-height: 1.2;
      }
      
      ul{
        list-style: none;
        padding: 15px 25px;
        background-color: #da3134;
        width: calc(100% + 30px);
        position: relative;
        left: -15px;
        
        li{
          margin-bottom: 5px;
          color: #fff;
          font-weight: 600;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }

      p{
        font-weight: 600;
        background-color: #fff;
        margin-bottom: 0;
        padding: 15px 20px;
      }

      img{
        margin: 0 auto;
      }
    }

    .sub-block{
      background-color: #e9eceb;
      padding-top: 35px;
      padding-bottom: 30px;
      margin-bottom: 30px;

      &__img{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }

      p{
        padding: 0 15px;
        text-align: center;
        font-weight: 600;

        &:nth-child(2){
          margin-bottom: 20px;
        }

        span{
          text-transform: uppercase;
          display: block;
          text-align: center;
          padding-top: 5px;
        }
      }

      a {
        display: block;
        text-align: center;
        font-weight: 700;
        text-decoration: underline;
      }
    }

    .logo-block{
      display: flex;
      justify-content: center;

      img{
        max-width: 180px;
      }
    }

    .org-filter{
      background-color: #e9eceb;
      padding-top: 20px;
      padding-bottom: 25px;
    }

    .catalogs-nav{
      margin-bottom: 25px;
      //background-color: #f9f8f4;

      &__title{
        color: #335da7;
        //margin-bottom: 25px;
        font-weight: 700;
        font-size: 20px;
        //background-color: #eaeceb;
        padding: 20px;
      }

      nav{

        span{
          position: relative;
          display: block;
          cursor: pointer;
          padding: 15px 25px;
          border-bottom: 1px solid #ebedec;
          border-top: 1px solid #ebedec;

          &::after{
            display: block;
            content: '';
            width: 14px;
            height: 7px;
            background-image: url('./files/imgs/icons/catalog-tr.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            right: 0;
            top: 45%;
            transform: rotate(-90deg) translateY(-50%);
            transition: transform 0.1s;
          }

          &.active {

            &::after {
              transform: rotate(0);
            }

            &::before {
              display: block;
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 2px;
              background: #026992;
            }
          }

          + ul{
            display: none;
          }

          &.active + ul{
            display: block;
          }
        }

        ul{
          list-style: none;
          padding-left: 0;

          a{
            display: block;
            padding: 15px 25px;
            position: relative;

            &:hover {
              color: #335da7;
              font-weight: 700;
            }
          }
        }

        li{
          list-style: none;
        }

        > ul{
          //padding: 0 20px;

          > li > span{
            //color: #335da7;
            font-weight: 500;
            font-size: 16px;
            padding: 15px 25px;
            position: relative;
            //margin-bottom: 25px;

            & + ul{
              //margin-bottom: 25px;
            }
          }

          ul {
            padding-left: 25px;
          }
        }
      }
    }
  }

  &__right{
    order: 1;
    margin-bottom: 30px;

    .top-text{
      margin-bottom: 25px;

      p:first-child{
        margin-bottom: 25px;

        img{
          margin-bottom: 25px;
        }
      }
    }

    .form{
      background-color: #ebedec;
      padding: 25px 10px;

      .ordered{

        &__text{
          margin-bottom: 10px;
        }
      }

      &__total{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
      }

      .text{

        p{
          margin-bottom: 10px;

          &:first-child, &:last-child{
            max-width: 70%;
          }
        }

      }

      .download{

        &__title{
          display: block;
          margin-bottom: 10px;
        }

        input{
          display: none;
        }

        &__input{
          width: 100%;
          height: 40px;
          border: none;
          background-color: #fff;
          padding-left: 15px;
          margin-bottom: 20px;
          position: relative;

          &::after{
            display: block;
            content: '';
            width: 20px;
            height: 10px;
            background-image: url(./files/imgs/icons/bottom.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            position: absolute;
            right: 5px;
            top: 16px;
            background-color: #fff;
          }
        }
      }
    }

    .bot-text{

      &__title{
        margin-bottom: 20px;
      }

      p{
        margin-bottom: 15px;
      }

      span{
        display: block;
      }

      .geo-button-in{
        cursor: pointer;
        color: #da3134;
        display: inline;
      }
    }

    //dostavka
    .top-text{

      img{
        margin-bottom: 15px;
      }

      p{
        margin-bottom: 20px;

        &:last-child{
          margin-bottom: 0;

          .span-b{
            display: block;
            font-weight: 700;
          }
        }
      }
    }

    .delivery__imgs{
      margin-bottom: 25px;

      &-map{
        border-radius: 5px;
        border: 11px solid #666666;
        background-color: #666666;
      }

      &-build{
        border-radius: 10px;
        background-color: #666666;
      }
    }

    .bot-text{

      img{
        margin-bottom: 15px;
      }

      &__map{
        border-radius: 5px;
        border: 11px solid #666666;
        background-color: #666666;

        img{
          margin: 0 auto;
        }
      }

      &__addresses{
        padding-top: 20px;
        margin-bottom: 20px;

        ul{
          list-style: none;
          padding-left: 0;
          width: 100%;
          margin-bottom: 25px;

          li{
            margin-bottom: 15px;

            &:last-child{
              margin-bottom: 0;
            }
          }

          li:first-child{
            font-weight: 700;
          }

          li:not(:first-child){
            display: flex;
            flex-direction: column;
          }
        }
      }

      &__info{

        img{
          margin-bottom: 15px;
        }

        p{
          margin-bottom: 20px;

          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }

    //o nas
    .top-text{

      .img-left{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
          max-width: 130px;
          margin-right: 25px;
          margin-bottom: 0;
        }
      }
    }

    .subform.bg-red-no-square{
      background-color: #da3134;

      .subform__button{

        &::before{
          display: none;
        }

        &-inner{
          color: $def-color;
          text-align: center;
          background-color: #fff;
          justify-content: center;
        }
      }
    }
    
    //org
    .top-text{
      
      .voskl{
        color: #da3134;
        font-family: 'Gotham Pro Regular Italic';
        font-weight: 700;
        padding-left: 40px;
        position: relative;

        &::before{
          display: flex;
          content: '!';
          align-items: center;
          width: 30px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 85px;
        }
      }

    }

    .org__items{
      display: flex;
      flex-direction: column;

      .orgitem-wrap{
        margin-bottom: 25px;

        &.discount-product{

          .org__items-item__price{
            color: #da3134;
          }

          .org__items-item__img{

            &::before{
              display: block;
              content: 'Скидка';
              color: #fff;
              background-color: #da3134;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              top: -10px;
              height: 25px;
              width: calc(100% - 10px);
              text-align: center;
              line-height: 25px;
              border-radius: 2px;
            }
          }
        }
      }

      &-item{
        padding: 15px 15px 200px;
        position: relative;
        background-color: rgb(249, 248, 244);
        width: 100%;
        max-width: 300px;
        margin: 0 auto;

        &__title{
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 18px;
          text-align: center;
        }

        &__desc{
          margin-bottom: 18px;
        }

        &__char{
          display: block;
          text-align: right;
          color: #335da7;
          font-size: 13px;
          text-decoration: underline;
          cursor: pointer;
        }

        &__img{
          width: 110px;
          height: 120px;
          position: absolute;
          left: 20px;
          bottom: 80px;

          img{
            margin: 0 auto;
          }
        }

        &__storage{
          position: absolute;
          left: 150px;
          bottom: 130px;
        }

        &__price{
          display: block;
          color: #150a31;
          font-weight: 700;
          font-size: 20px;
          width: 130px;
          position: absolute;
          font-family: $bold-font;
          bottom: 100px;
          left: 150px;
        }

        &__button{
          display: block;
          cursor: pointer;
          width: 130px;
          height: 40px;
          background-color: rgb(51, 93, 167);
          color: #fff;
          font-weight: 700;
          line-height: 36px;
          text-align: center;
          position: absolute;
          bottom: 50px;
          left: 150px;
          &:hover{
            background-color: rgb(3, 23, 71);
            color: #fff;
          }
        }

        &__analog{
          color: #7f7f7f;
          position: absolute;
          bottom: 20px;
          width: 100%;
          left: 0;
          text-align: center;
          display: block;
        }
      }

      &__pag{
        display: flex;
        justify-content: center;
        min-width: 100%;

        a{
          margin-right: 15px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }

    //catalogs
    .catalogs__sort{
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &-title{
       // margin-right: 40px;
        margin-bottom: 30px;

        span{
          font-weight: 700;
          font-size: 13px;
        }
      }

      &-price{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 30px;

        label{

          input:checked + span::before{
            transform: rotate(0);
          }

          span{
            font-weight: 700;
            position: relative;
            padding-right: 30px;
            margin: 0;
            font-size: 13px;

            &::before{
              display: block;
              content: '';
              width: 20px;
              height: 10px;
              background-image: url('./files/imgs/icons/bottom.png');
              background-repeat: no-repeat;
              background-position: center;
              background-size: auto;
              position: absolute;
              right: 5px;
              top: 2px;
              background-color: transparent;
              transform: rotate(180deg);
              transition: all .4s;
            }

          }

          input{
            display: none;
          }
        }
      }

      &-off {
        cursor: pointer;

        span {
          position: relative;
          padding-right: 30px;
          margin: 0;
          font-size: 13px;

          &::before{
            display: block;
            content: '';
            width: 20px;
            height: 10px;
            background-image: url('./files/imgs/icons/catalog-tr.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            position: absolute;
            right: 5px;
            top: 3px;
            background-color: transparent;
            transform: rotate(180deg);
            transition: all .4s;
          }

          &.active::before{
            transform: rotate(0);
          }
        }
      }

      &-wrapper {
        width: 100%;
      }

      &-brand{
        //padding-top: 15px;
        min-width: 100%;
        display: flex;
        //justify-content: center;
        //flex-direction: row;
        //align-items: center;
        align-content: center;
        margin-bottom: 15px;

        span{
          width: 100%;
          font-size: 13px;
          margin-right: 20px;
          margin-bottom: 15px;
          font-weight: 700;
        }

        p{
          width: 100%;

          select{
            margin-bottom: 0;
          }
        }
      }

      &-cartrige{
        width: 100%;

        &__title{
          font-weight: 700;
          width: 100%;
          margin-bottom: 10px;
          font-size: 13px;
        }

        &__inputs{
          display: flex;
          flex-direction: column;

          label{
            margin-bottom: 5px;
            display: flex;
            align-items: center;

            input{
              display: none;
            }

            input:checked + span::before{
              content: '✓';
            }

            span{
              position: relative;
              padding-right: 25px;
              min-width: 120px;
              font-size: 13px;

              &::before{
                display: block;
                content: '';
                width: 15px;
                height: 15px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: #fff;
                border: 1px solid #242424;
                text-align: center;
              }

            }

          }
        }
      }

      &.active {

        .catalogs__sort {
          padding: 20px 20px 20px;

          &-price {
            margin-bottom: 0;
          }

          &-title {
            margin-bottom: 0;
          }

          &-brand {
            display: none;
          }

          &-cartrige {
            display: none;
          }

          &-off {

            span {

              &::before {
                transform: rotate(0);
              }
            }
          }
        }
      }
    }

    .c-items{
      display: flex;
      flex-direction: column;

      &__wrap{
        margin-bottom: 25px;
        display: flex;
        justify-content: center;

        &.discount-product{

          .c-items__item-price{
            color: #da3134;
          }

          .c-items__item-img{
            position: relative;

            &::before{
              display: block;
              content: 'Скидка';
              color: #fff;
              background-color: #da3134;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              top: -15px;
              height: 25px;
              //width: calc(100% - 10px);
              text-align: center;
              line-height: 25px;
              border-radius: 2px;
              width: 100px;
            }
          }
        }
      }

      &__item{
        //background-color: rgb(249, 248, 244);
        width: 300px;
        max-width: 100%;
        padding: 30px 30px 100px;
        position: relative;

        &-title{
          font-weight: 700;
          font-family: $bold-font;
          text-align: center;
          margin-bottom: 15px;
        }

        &-img{
          width: 110px;
          height: 120px;
          //position: absolute;
          //left: 50%;
          //bottom: 105px;
          //transform: translateX(-50%);
          margin: 0 auto 20px;

          img{
            margin: 0 auto;
          }
        }

        &-price{
          width: 150px;
          font-weight: 700;
          font-family: $bold-font;
          text-align: center;
          position: absolute;
          left: 50%;
          bottom: 75px;
          transform: translateX(-50%);
          color: #150a31;
          font-size: 20px;
        }

        &-button{
          cursor: pointer;
          width: 135px;
          height: 40px;
          background-color: rgb(51, 93, 167);
          color: #fff;
          text-align: center;
          line-height: 36px;
          position: absolute;
          left: 50%;
          bottom: 25px;
          transform: translateX(-50%);
          &:hover{
            background-color: rgb(3, 23, 71);
            color: #fff;
          }
        }
      }

      &__pag{
        display: flex;
        justify-content: center;
        min-width: 100%;

        a{
          margin-right: 15px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }

    .autsorting-filter{
      padding: 45px 10px;

      form{

        label:not(#input-down-file){
          margin-bottom: 10px;
          display: block;

          span{
            display: block;
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 5px;
          }

          input{
            width: 440px;
            max-width: 100%;
            border: 1px solid #8d8d8d;
            box-shadow: inset 0px 1px 1px 0px rgba(0, 1, 1, 0.3);
            height: 43px;
            padding: 0 10px;
          }

        }

        .def-f-button.autsorting-filter__hidden-submit{
          background-color: #da3134;
          font-size: 24px;
          font-weight: 600;
          color: #ffffff;
          text-align: center;
          margin: 0;
          border: none;
          padding: 0;
          height: 60px;
          width: 440px;
          max-width: 100%;
          cursor: pointer;

          &:hover{
            background-color: #f1393c;
          }
        }

      }

      .download{
        margin-bottom: 25px;

        #input-down-file{
          display: block;
          position: relative;
        }

        &__button{
          display: block;
          height: 42px;
          margin-bottom: 35px;
        }

        &__yep{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -20px;
        }
      }

      &__counts{

        input{
          width: 100%;
          padding-left: 15px;
          height: 40px;
          border: none;
          margin-bottom: 20px;
        }
      }

      &__hidden{
        display: none;
      }

      .for-dowload{
        margin-bottom: 20px;
      }
    }

    .my-default-page{
      //#022068; #da3134;

      &__bold-text{

        p{
          font-weight: 700;
          margin-bottom: 15px;
          color: #022068;
          line-height: 1.5;

          a{
            font-weight: inherit;
            color: #da3134;
          }
        }
      }

      &__block{
        background-color: #ebedec;
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;

        &-left{
          margin-bottom: 15px;

          img{
            width: 130px;
          }
        }

        &-right{
          font-weight: 700;
          color: #022068;
          line-height: 1.5;

          p, a{
            font-weight: inherit;
            color: inherit;
            line-height: inherit;
          }

          a{
            text-decoration: underline;
          }

          span{
            color: #da3134;
            font-weight: inherit;
            line-height: inherit;
            padding: 0 15px;
          }
        }
      }

      &__button{
        height: auto;
        width: 300px;
        max-width: 100%;
        padding: 10px;
        line-height: 1.3;
      }
      
      &__list{
        
        p{
          padding-left: 45px;
          background-image: url('./files/imgs/icons/exclamation.png');
          background-repeat: no-repeat;
          background-position: left center;
          background-size: contain;
          min-height: 60px;
          display: flex;
          align-items: center;
          margin-bottom: 25px;
          color: #da3134;
        }
      }

      &__subtext{
        font-family: 'Gotham Pro Regular Italic';
        text-align: center;
        font-weight: 300;
        color: #da3134;
      }
    }
  }

  &__top {
    margin-bottom: 70px;

    &_block {
      margin-bottom: 15px;
      padding: 20px;
      display: flex;
      justify-content: center;

      a {

        img {
          margin-bottom: 20px;
          max-height: 160px;
          max-width: 180px;
        }

        span {
          font-size: 15px;
          font-weight: 700;
          text-align: center;
          margin: 0 auto;
          display: block;
        }
      }

      &.rashod_cat {
        position: relative;

        a {

          img {
            max-height: none;
            max-width: none;
          }

          span {
            position: absolute;
            top: 62%;
            width: 180px;
            color: #ffffff;
            left: 55%;
            transform: translateX(-50%);
            line-height: 1.5;
          }
        }
      }

      &:hover {
        background: #e4e6ea;
        cursor: pointer;
      }
    }
  }
}

.org-detail{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 111;
  display: none;

  &__back{
    cursor: pointer;
    background-color: #636363;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__inner{
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 25px 20px;
    height: calc(100% - 100px);
    width: calc(100% - 50px);

    &-exit{
      width: 36px;
      height: 36px;
      background-color: #636363;
      position: absolute;
      right: -5px;
      top: -40px;
      border-radius: 50%;
      cursor: pointer;

      &::before{
        display: block;
        content: '';
        width: 22px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 7px;
        top: 17px;
        transform: rotate(45deg);
      }

      &::after{
        display: block;
        content: '';
        width: 22px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 7px;
        top: 17px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }

    &-content{
      height: 100%;
      overflow-y: scroll;

      &__title{
        font-size: 18px;
        font-family: $bold-font;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(231, 231, 231);
        margin-bottom: 15px;
        text-align: center;
      }

      .block{
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(231, 231, 231);
        margin-bottom: 15px;
        &:last-child{
          margin-bottom: 0;
        }

        &__title{
          margin-bottom: 10px;
          text-align: center;
          font-family: $bold-font;
          color: #616161;
        }

        &__inner{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 10px;
          &:last-child{
            margin-bottom: 0;
          }

          &-title{
            text-decoration: underline;
            margin-bottom: 5px;
            text-align: center;
          }

          &-value{
            text-align: left;
          }
        }
      }
    }

  }
}

.video{
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: #ebedec;

  &-text{

    .def-title{
      font-size: 20px;
      font-weight: 700;
    }

    p{
      margin-bottom: 15px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &-video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img{
      margin-bottom: 25px;
    }

    a{
      font-family: 'Gotham Pro Regular Italic';
      font-size: 15px;
      text-align: center;
      text-decoration: underline;
    }
  }


}

.only_product{

  &__title{
    background-color: rgb(234, 236, 235);
    padding: 5px 15px;
    font-size: 20px;
    font-family: $bold-font;
    margin-bottom: 15px;
  }

  .only_product-img{
    margin: 0 auto 15px;

    img{
      margin: 0 auto;
    }
  }

  &__text{
    margin-bottom: 25px;

    &-article{
      margin-bottom: 15px;
    }

    &-description{
      margin-bottom: 25px;

      span{
        display: block;
        margin-bottom: 15px;
      }

      p{

      }
    }

    &-price{
      display: block;
      text-align: right;
      font-family: $bold-font;
      font-size: 20px;
      margin-bottom: 25px;

      span{
        font-family: inherit;
        font-size: inherit;
      }
    }

    .buttons{
      display: flex;
      justify-content: space-between;

      a{
        display: block;
      }
    }

    &-fast__buy{
      background-color: #fff;
      border: 2px solid rgb(207, 22, 22);
      width: 159px;
      height: 41px;
      color: #cf1616;
      line-height: 37px;
      text-align: center;
      cursor: pointer;
      font-family: $bold-font;
      &:hover{
        color: #fff;
        background-color: rgb(207, 22, 22);
      }
    }
  }

  &__description{

    table{
      border-collapse: collapse;
      width: 100%;

      tr{

        td{
          border: 1px solid rgb(204, 204, 204);
          padding: 10px 20px;
        }
      }

      tr:nth-child(odd){
        background-color: rgb(249, 248, 244);
      }
    }
  }

  &.discount-product{

    .only_product__text-price{
      color: #da3134;

      span{
        color: inherit;
      }
    }

    .only_product-img{
      position: relative;

      &::before{
        display: block;
        content: 'Скидка';
        color: #fff;
        background-color: #da3134;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -10px;
        height: 25px;
        width: calc(100% - 10px);
        text-align: center;
        line-height: 25px;
        border-radius: 2px;
      }
    }
  }

}

.cart{
  border-radius: 9px;
  background-color: rgb(235, 237, 236);

  &-top{
    height: 60px;
    border-radius: 3px;
    background-color: rgb(208, 222, 232);
    display: flex;
    align-items: center;
    padding: 0 15px;

    &__title{
      font-size: 20px;
      font-family: $bold-font;
    }

    &__subtitle{
      display: none;
    }
  }

  &-items-wrap{
    padding: 10px 15px 25px;

    .cart-item{
      background-color: #fff;
      padding: 15px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
      &:last-child{
        margin-bottom: 0;
      }

      &__input{
        display: flex;
        align-items: center;
        margin-right: 7px;
      }

      &__img{
        min-width: calc(100% - 20px);
        margin-bottom: 25px;

        img{
          max-width: 100px;
        }
      }

      &__title{
        width: calc(100% - 100px - 50px);
        position: absolute;
        left: 145px;
        top: 40px;
      }

      &__price{
        order: 4;
      }

      &__discount{
        order: 5;
        margin-bottom: 20px;
        min-width: 100%;
        text-align: right;
        color: #da3134;
        span{
          color: #da3134;
        }
      }

      &__count{
        order: 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 120px;
        margin-bottom: 0;

        span{
          width: 120px;
          margin-bottom: 5px;
          text-align: center;
        }

        &-minus, &-plus{
          width: 26px;
          height: 24px;
          border: 1px solid rgb(39, 98, 172);
          background-color: rgb(208, 222, 232);
        }

        &-minus{
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          cursor: pointer;
          position: relative;

          &::before{
            display: block;
            content: '';
            background-color: #150a31;
            width: 12px;
            height: 2px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

        &-plus{
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          cursor: pointer;
          position: relative;

          &::before{
            display: block;
            content: '';
            background-color: #150a31;
            width: 12px;
            height: 2px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }

          &::after{
            display: block;
            content: '';
            background-color: #150a31;
            width: 2px;
            height: 12px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

        input{
          width: 28px;
          height: 24px;
          border-top: 1px solid rgb(39, 98, 172);
          border-bottom: 1px solid rgb(39, 98, 172);
          border-left: none;
          border-right: none;
          text-align: center;
          line-height: 22px;
        }
      }

      &__summary{
        order: 6;

        span{
          font-family: $bold-font;
          font-size: 18px;
        }
      }

      &__delete{
        position: absolute;
        width: 12px;
        height: 12px;
        cursor: pointer;
        right: 10px;
        top: 10px;

        &::before{
          display: block;
          content: '';
          width: 10px;
          position: absolute;
          left: 1px;
          top: 4px;
          transform: rotate(45deg);
          height: 2px;
          background-color: #555555;
        }

        &::after{
          display: block;
          content: '';
          width: 10px;
          position: absolute;
          left: 1px;
          top: 4px;
          transform: rotate(-45deg);
          height: 2px;
          background-color: #555555;
        }
      }
    }
  }

  &-bot{
    padding-bottom: 20px;

    &__text{
      padding-top: 30px;
      padding-bottom: 20px;
      background-color: rgb(109, 121, 145);
      text-align: center;
      color: #fff;
      font-size: 16px;
      font-family: $bold-font;
      margin-bottom: 25px;

      p{
        margin-bottom: 25px;
        line-height: 1.5;
      }

      p, span{
        font-size: inherit;
        color: inherit;
        font-family: inherit;
      }

      &-button{
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 50px;
        position: relative;

        a{
          display: block;
          cursor: pointer;
          background-color: rgb(218, 49, 52);
          width: 200px;
          height: 50px;
          position: relative;
          z-index: 1;
          color: #fff;
          font-size: 18px;
          font-family: $bold-font;
          text-align: center;
          line-height: 50px;
          &:hover{
            background-color: #f1393c;
            color: #fff;
          }
        }

        &::before{
          display: block;
          content: '';
          width: 100%;
          height: 100%;
          background-color: #fff;
          position: absolute;
          left: -8px;
          top: -8px;
        }
      }

    }

    &__more{
      margin: 0 auto;
      display: block;
      width: 220px;
      height: 40px;
      border: 1px solid rgb(39, 98, 172);
      background-color: #fff;
      color: rgb(39, 98, 172);
      font-size: 16px;
      font-family: $bold-font;
      text-align: center;
      line-height: 38px;

      &:hover{
        background-color: rgb(39, 98, 172);
        color: #fff;
      }
    }

    &__check{
      padding-left: 25px;
      span{
        padding-left: 5px;
        font-size: 14px;
      }
    }
  }
}

.search-page{

  .full-wrap__right{

    .c-items{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-bottom: 25px;

      &__wrap{
        width: 100%;
      }
    }
  }

  &__title{
    font-weight: 700;
    margin-bottom: 25px;
  }

  &__subtitle{
    font-weight: 600;
    margin-bottom: 15px;
  }

  &__item{
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.default-page{

  h1, h2{
    font-weight: 700;
    margin-bottom: 25px;
  }

  p{
    margin-bottom: 15px;
    line-height: 1.3;
  }

}

.order{

  &__block{
    background-color: rgb(235, 237, 236);
    padding-top: 70px;
    position: relative;

    .order__block__inner,
    .order__block-button{
      display: none;
    }

    .order__block-title span{
      display: block;
    }

    &.active{
      padding-bottom: 25px;

      .order__block__inner,
      .order__block-button{
        display: block;
      }

      .order__block-title span{
        display: none;
      }
    }

    &-title{
      background-color: rgb(208, 222, 232);
      padding: 15px 20px;
      font-size: 18px;
      font-family: $bold-font;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;

      span{
        display: none;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: #335da7;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }

    &__inner{
      background-color: #fff;
      padding: 20px 15px;
      width:calc(100% - 30px);
      margin: 0 auto 15px;
    }

    &-button{
      display: none;
      padding-left: 15px;
    }

    &-subtitle{
      font-size: 16px;
      font-family:$bold-font;
      margin-bottom: 20px;
    }

    label{
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      padding-left: 25px;

      input{

        &[type="radio"] + span{
          padding-left: 15px;
        }
      }
    }

    label.label-column{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      span{
        margin-bottom: 10px;
      }

      input:not([type="radio"]){
        width: 300px;
        max-width: 100%;
        padding: 0 15px;
        height: 50px;
      }
    }

  }
}

.my-default-page{
  position: relative;
  z-index: 1;

  &__certs{
    display: flex;
    flex-wrap: wrap;

    .item{
      padding: 15px 15px;
      width: 50%;
      transition: all 1s ease-in-out;
      cursor: pointer;

      &:hover{
        // transform: scale(2, 2);
      }
    }
  }
}

//diagram
.top-text__diagram{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;

  &-item{
    padding: 0 20px;
    position: relative;
    margin-bottom: 35px;
    &:last-child{
      margin-bottom: 0;
    }

    &__count{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 58px;
      font-family: $bold-font;
      font-size: 42px;
      font-weight: 700;

      span{
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
      }
    }

    svg {
      margin: 0 auto 15px;
      transform: rotate(0deg) scale(1, -1);

      .circle_animation {
        stroke-dasharray: 452;
        stroke-dashoffset: 0;
        transition: all 1s linear;
      }
    }

    &__title{
      font-size: 18px;
      font-family: $bold-font;
      text-align: center;
      width: 300px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

.franchise__button{
  margin-bottom: 45px;
  padding-top: 10px;

  a{
    position: relative;
    display: block;
    width: 440px;
    height: 40px;
    max-width: calc(100% - 50px);
    background-color: rgb(0, 118, 192);
    margin: 0 auto;
    &:hover{
      background-color: #022168;
    }

    span{
      font-family: $bold-font;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      position: absolute;
      top: 50%;
      left: calc(50% - 10px);
      transform: translate(-50%, -50%);
      width: calc(100% - 60px);
      text-align: center;
    }

    img{
      position: absolute;
      right: -30px;
      top: 50%;
      transform: translateY(-50%);
      width: 58px;
      height: 58px;
      max-width: none;
      max-height: none;
      margin: 0;
    }

    &::before{
      display: block;
      content: '';
      background-color: rgb(109, 121, 145);
      width: 100%;
      height: 100%;
      position: absolute;
      left: -8px;
      top: -8px;
      z-index: -1;
    }
  }
}

//repair page

.repaired{

  h1{
    margin-bottom: 30px;
    font-family: $bold-font;
  }

  &__item{
    margin-bottom: 5px;

    &-title{
      padding: 15px 50px 15px 20px;
      background-color: rgb(109, 121, 145);
      font-size: 18px;
      color: #fff;
      font-family: $bold-font;
      position: relative;

      &::before{
        display: block;
        content: '';
        width: 22px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        right: 30px;
        top: 24px;
        transform: rotate(48deg);
        transition: right .3s ease-out .3s;
      }

      &::after{
        display: block;
        content: '';
        width: 22px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        right: 16px;
        top: 24px;
        transform: rotate(-48deg);
        transition: right .3s ease-out .3s;
      }
    }

    &-list{

      &__item{

        &-title{
          display: none;
          padding: 12px 20px;
          border-left: 4px solid transparent;
          margin-bottom: 5px;
          font-family: $bold-font;
        }

        &-text{
          display: none;
          &__gallery{
            display: flex;
            flex-direction: column;

            a{
              display: block;
              max-width: 300px;
              margin: 0 auto 20px;
            }
          }
        }

        h5{
          padding-top: 10px;
          margin-bottom: 25px;
          font-size: 18px;
        }

        p{
          margin-bottom: 20px;
          line-height: 1.3;
          &:last-child{
            margin-bottom: 0;
          }

          a{
            color: $red-color;
          }
        }

        ul{
          margin-bottom: 20px;
          padding-left: 22px;

          li{
            margin-bottom: 10px;

            a{
              color: $red-color;
            }

            &:last-child{
              margin-bottom: 0;
            }
          }

        }
      }
    }
  }

  &__item.active{

    .repaired__item-title{
      background-color: $blue-color;
      margin-bottom: 20px;

      &::before{
        right: 16px;
      }
      &::after{
        right: 30px;
      }
    }

    .repaired__item-list__item-title{
      display: block;
    }
  }

  &__item-list__item.active{
    margin-bottom: 15px;

    .repaired__item-list__item-title{
      border-left: 4px solid $blue-color;
    }

    .repaired__item-list__item-text{
      display: block;
    }
  }

  &__bot{

    .services-product{
      order: 1;
      margin-bottom: 30px;
    }

    &-middle{
      order: 2;
      margin-bottom: 30px;

      &__title{
        padding: 10px 20px;
        background-color: $blue-color;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
        max-width: 100%;
        margin: 0 auto 10px;

        img{
          margin-right: 16px;
        }

        p{
          color: #fff;
          font-family: $bold-font;
        }
      }

      &__block{
        display: none;
        width: 360px;
        max-width: 100%;
        margin: 0 auto;
        &.active{
          display: block;
        }
        padding: 12px 20px 30px;
        border: 2px solid $red-color;

        &-title{
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          img{
            margin-right: 16px;
          }

          p{
            font-family: $bold-font;
            color: $red-color;
            line-height: 1.3;
          }
        }

        &-text{

          p{
            margin-bottom: 16px;
            &:last-child{
              margin-bottom: 0;
            }

            span:first-child{
              display: block;
              margin-bottom: 8px;
              font-family: $bold-font;
            }

            span:last-child{
              display: block;
              font-family: $bold-font;
              color: $red-color;
            }
          }
        }
      }
    }

    &-photos{
      order: 3;

      &__inner{
        width: 360px;
        max-width: 100%;
        border: 2px solid $blue-color;
        padding: 15px 20px 10px;
        margin: 0 auto;
      }

      &-title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        img{
          margin-right: 26px;
        }

        p{
          font-family: $bold-font;
          color: $blue-color;
        }
      }

      &__list{

        &-item{
          padding: 0 3px;
          margin-bottom: 10px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

// add page arenda
.pokop-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
  padding-top: 10px;

  &__item{
    padding-left: 55px;
    padding-right: 15px;
    position: relative;
    margin-bottom: 20px;

    span{
      display: block;
      font-family: $bold-font;
      max-width: 250px;
    }

    span:last-child{
      color: $red-color;
    }

    img{
      width: 30px;
      height: 30px;
      position: absolute;
      left: 15px;
      top: 5px;
    }
  }
}
