@media screen
and (min-width: 576px){

}

@media screen
and (min-width: 768px){

  .delivery{

    &__imgs{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      &-map{
        min-width: 100%;
      }

      &-face{
        max-width: calc(50% - 10px);
      }

      &-build{
        max-width: calc(50% - 10px);
      }
    }
  }

  .full-wrap{

    &__right {

      .catalogs {

        &__sort {

          &-brand {
            min-width: 40%;
            max-width: 40%;
            margin-right: 55px;
          }

          &-wrapper {
            display: flex;
            flex-wrap: wrap;
          }
        }
      }

      .c-items {

        &__item {
          width: 100%;
          display: flex;
          padding: 30px 30px 50px;

          &-img {
            margin: 0 40px 0 20px;
            order: 1;
          }

          &-title {
            order: 2;
            text-align: left;
            width: 73%;
          }

          &-price{
            left: 29%;
            bottom: 65px;
            text-align: left;
            transform: translateX(0);
          }

          &-button {
            left: 39%;
            bottom: 10px;
          }
        }
      }

      //o nas
      .top-text{

        .img-left{
          display: flex;
          flex-direction: row;

          img{
            max-width: 130px;
            margin-right: 25px;
            margin-bottom: 0;
          }
        }
      }
    }

   .orgteh &__right{

     .orgitem-wrap{
       width: 50%;
       display: flex;
       justify-content: center;
     }

     .org__items{
       flex-direction: row;
       flex-wrap: wrap;

       &-item{

       }
     }
   }

    .catalogs &__right{

      .c-items__wrap{
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .c-items{
        flex-direction: row;
        flex-wrap: wrap;

        &-item{

        }
      }

      .catalogs__sort{

        &-cartrige{
          display: flex;

          &__title{
            margin-bottom: 0;
            margin-right: 25px;
            width: auto;
          }

          &__inputs{
            flex-direction: row;

            label{
              margin-right: 15px;
              &:last-child{
                margin-right: 0;
              }

              span{
                width: auto;
              }
            }
          }
        }
      }
    }

    &__top {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &_block {
        width: 48%;
      }
    }
  }

  //  diagram

  .top-text__diagram{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &-item{
      width: 33%;
      padding: 0 5px;
      margin-bottom: 0;

      &__title{
        width: auto;
      }
    }
  }

  .franchise__button{

    a{
      height: 54px;

      span{
        font-weight: 700;
        font-size: 20px;
      }

      img{
        width: 80px;
        height: 80px;
      }

      &::before{
        left: -12px;
        top: -12px;
      }
    }
  }

  //repair page
  .repaired{

    &__item{

      &-list{

        &__item{

          &-text{

            &__gallery{
              flex-direction: row;
              flex-wrap: wrap;

              a{
                width: 33.3%;
                padding: 0 14px;
                margin: 0 0 25px;
              }
            }
          }
        }
      }
    }

    &__bot{

      .services-product{
        margin-bottom: 40px;
      }

      &-middle{
        margin-bottom: 40px;

      }
    }
  }

  // add page arenda
  .pokop-list{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    &__item{
      margin-bottom: 0;
      width: 33%;
    }
  }

}

@media screen
and (min-width: 992px){

  .full-wrap {

    &__right {

      .c-items {

        &__item {

          &-price {
            left: 21.5%;
          }

          &-button {
            left: 29%
          }
        }
      }
    }
  }
}

@media screen
and (min-width: 1200px) {

  .first{

    &-slider{

      .item{
        height: 475px;

        .main-slider-item__link{
          top: 86px;
          left: calc(50% + 300px);
          bottom: auto;

          &::before{
            left: -35px;
            top: -25px;
          }

          h2{
            line-height: 1.2;
            font-size: 26px;
            width: 600px;
            padding: 25px 30px;
            line-height: 1.2;
            text-align: center;
            text-transform: uppercase;
            border-radius: 5px;
          }
        }
      }

      &__sub-block{
        top: 180px;
        left: calc(50% + 300px);

        img{
          margin-right: 0;
        }
      }
    }
  }

  .about{
    position: relative;

    &__text{

      p{
        max-width: 850px;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }

    &__more{
      position: absolute;
      right: 10%;
      top: 0;
      width: 200px;
    }

    &-fancy{
      display: block;
      margin: 0 auto 25px;
      width: 300px;
      max-width: 100%;
    }
  }

  .advantages{

    .def-title{
      margin-bottom: 50px;
    }

    padding-top: 55px;
    margin-bottom: 0;
  }

  .def-ask.backe5e5e5{
    padding-bottom: 40px;
    margin-bottom: 50px;

    .def-ask__wrap{
      background-color: #fff;
      height: 260px;
    }

    .def-ask__img{
      display: none;
    }

    .def-ask__title{
      background-color: #6d7991;
      font-size: 16px;
      font-family:  $def-font;
      height: 160px;
      margin-bottom: 0;
      text-align: left;
      padding: 25px 25px 0;
      line-height: 1.2;
    }

    .def-ask__button{
      position: absolute;
      left: 180px;
      top: 160px;
    }
  }

  .clients{

    &__top-text{
      max-width: 625px;
      margin-bottom: 45px;
    }

    &__slider{
      padding-bottom: 30px;

      .owl-dots{
        bottom: -10px;
      }

      .owl-item{

        .item{
          border: 3px solid transparent;
          border-radius: 20px;
        }

        &.client-current{
          border: 3px solid #d6383b;
        }
      }
    }

    &__monial{

      &-title{
        padding-left: 80px;
        max-width: 510px;
        background-position: 25px top;
      }

      &-text{
        padding-left: 80px;
      }
    }
  }

  .delivery{
    padding-bottom: 105px;

    &__text{
      max-width: 650px;
      margin-bottom: 0;

      p{
        line-height: 1.2;
      }
    }

    &__imgs{
      position: relative;


      &-map{
        min-width: 0;
        max-width: 560px;
      }

      &-face{
        position: absolute;
        left: 0;
        top: 40px;
      }

      &-build{
        position: absolute;
        right: 0;
        top: -190px;
      }
    }
  }

  .services{

    .def-title{
      margin-left: auto;
      order: 1;
      padding-left: 392px;
    }

    &-subtitle{
      font-weight: 700;
      order: 2;
    }

    &-text{
      order: 4;
    }

    &-product{
      order: 3;

      .item{
        padding-top: 15px;
      }
    }
  }

  .full-wrap{

    .row {
      align-items: flex-start;
    }

    &__left{
      order: 1;

      .sub-block{
        margin-bottom: 50px;
      }
    }

    &__right{
      order: 2;

      .form{
        padding: 30px 30px 20px;

        .ordered{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;

          &__text{
            margin: 0;
          }

          &__button{
            margin: 0;
            cursor: pointer;
          }
        }

        .download{
          display: flex;

          &__input{
            width: 350px;
          }
        }
      }

      .top-text{

        .maw450{
          max-width: 450px;
        }

        p:first-child{
          margin-bottom: 30px;

          img{
            margin-bottom: 0;
          }
        }
      }

      .delivery__imgs{

        &-map{
          margin-left: 0;
          max-width: 450px;
        }

        &-build{
          width: 400px;
          min-width: 400px;
          top: -40px;
        }
      }

      .bot-text{

        &__map{

          img{
            width: 100%;
          }
        }

        &__addresses{

          &-city{

            ul{

              li{

                &:not(:first-child){
                  padding: 0 110px;
                  flex-direction: row;
                  justify-content: space-between;
                }
              }
            }
          }
        }
      }

      //o nas
      .top-text{

        .img-left{
          display: flex;
          flex-direction: row;

          img{
            max-width: 130px;
            margin-right: 25px;
            margin-bottom: 0;
          }
        }
      }

      .autsorting-filter{
        padding: 45px 30px;

        &__counts{

          input{
            margin-bottom: 0;
          }
        }

        .download{
          display: flex;
          align-items: center;
          justify-content: space-between;

          &__title{
            margin-bottom: 0;
            padding-right: 25px;
          }

          #input-down-file{

            .download__button{
              margin-bottom: 0;
            }
          }
        }
      }

      .my-default-page{
        //#022068; #da3134;

        &__block{
          flex-direction: row;

          &-left{
            margin-bottom: 0;
            min-width: 45%;
            display: flex;
            justify-content: center;
          }

          &-right{

            span{
              display: inline;
              text-align: center;
            }
          }
        }

        &__button{
          width: 400px;

          &.not-wide{
            width: 300px;
          }
        }
      }

      .catalogs {

        &__sort {

          &-brand {
            min-width: 43%;
            max-width: 43%;
            margin-right: 40px;
            flex-direction: column;
          }

          &-wrapper {
            margin-left: 10px;
          }
        }
      }

      .c-items {

        &__item {

          &-price {
            left: 27%;
          }

          &-button {
            left: 36.5%
          }
        }
      }
    }

    &__top {
      order: 2;

      &_block {

        a {

        }
      }
    }
  }

  .video{
    padding-top: 45px;
    padding-bottom: 40px;

    &-text{

      .def-title{
        font-size: 24px;
      }
    }
  }

  .only_product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    h1{
      min-width: 100%;
    }

    .only_product-img{
      margin: 0 0 25px;
    }

    &__text{
      width: calc(100% - 300px);
      margin-bottom: 25px;
    }

    &__description{
      min-width: 100%;
    }
  }

  .cart{

    &-top{
      display: flex;
      justify-content: flex-start;

      &__title{
        width: 240px;
      }

      &__subtitle{
        display: block;

        &.title{
          width: 272px;
        }

        &.price{
          width: 160px;
        }

        &.discount{
          width: 100px;
        }

        &.count{
          width: 120px;
        }
      }
    }

    &-items-wrap{

      .cart-item{
        justify-content: flex-start;

        &__input{
          margin-right: 20px;
        }

        &__img{
          min-width: 130px;
          margin-right: 45px;
          margin-bottom: 0;

          img{
            max-width: 130px;
            margin: 0 auto;
          }
        }

        &__title{
          position: static;
          width: 260px;
          margin-right: 35px;
        }

        &__price{
          order: 3;
          width: 110px;
          margin-right: 20px;
        }

        &__discount{
          order: 4;
          min-width: 0;
          margin-bottom: 0;
          margin-right: 25px;
          width: 100px;
        }

        &__count{
          order: 5;
          margin-bottom: 0;
          width: 100px;
          margin-right: 25px;

          &-title{
            display: none;
          }
        }

        &__summary{
          order: 6;
          width: 130px;
          margin-right: 0;

          &-title{
            display: none;
          }
        }
      }
    }

    &-bot{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 15px;
      padding-left: 15px;

      &__text{
        order: 2;
        width: 640px;
        margin-bottom: 0;
        br{
          display: none;
        }
      }

      &__more{
        order: 1;
      }
    }
  }

  .org-detail{

    &__inner{

      &-content{
        display: flex;
        flex-wrap: wrap;

        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          outline: 1px solid slategrey;
        }

        &__title{
          min-width: 100%;
        }

        .block{
          width: 25%;
          padding: 0 15px;
        }
      }
    }
  }

  .search-page{

    .full-wrap__right{

      .c-items{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 35px;

        &__wrap{

        }
      }
    }
  }

  .order{

    &__block{

      &-wrap{
        display: flex;
        margin-bottom: 15px;

        label{
          margin-right: 25px;
          margin-bottom: 0;
          &:last-child{
            margin-right: 0;
          }

          &:not(:first-child){
            width: 120px;
          }

          &:last-child{
            width: 150px;
          }
        }

      }
    }

  }

  .cart-for-order{

    .cart-item__img{
      padding-left: 33px;
    }
  }

  .my-default-page{

    &__certs{

      .item{
        padding: 0 15px;
        margin-bottom: 25px;
        width: 33.3%;

        &:hover{
          // transform: scale(3, 3);
        }
      }
    }
  }

  .advantages{

    .adv-current{

      .item{
        background: #6d7991;
        
        &__text{
          color: #fff;
        }
      }
    }
  }

  //repair page
  .repaired{

    &__main-menu{
      display: flex;
      margin-bottom: 20px;

      &__item{
        cursor: pointer;
        width: 25%;
        padding: 16px 20px;
        background-color: #6d7991;
        font-size: 18px;
        font-family: $bold-font;
        color: #fff;
        &:hover{
          text-decoration: underline;
        }
        &.active{
          background-color: $blue-color;
        }
      }
    }

    &__item{
      display: none;

      &.active{
        display: block;
      }

      &-list{
        display: flex;

        &__menu{
          display: none;
          width: 380px;
          padding-right: 30px;
          padding-left: 15px;

          &-item{
            cursor: pointer;
            padding: 20px;
            border-left: 4px solid transparent;
            font-family: $bold-font;
            
            &:hover{
              text-decoration: underline;
            }

            &.active{
              border-left: 4px solid $blue-color;
              color: $blue-color;
            }
          }
        }

        &__item{
          display: none;
          width: calc(100% - 380px);
          padding-left: 30px;

          &.active{
            display: block;
          }
        }
      }

      &.active{

        .repaired__item-list__menu{
          display: block;
        }
      }
    }

    &__bot{

      .services-product, .repaired__bot-middle{
        margin-bottom: 0!important;
      }
    }
  }


}
