@font-face {
  font-family: 'Gotham Pro Regular Italic';
  src: url('./files/fonts/GothamPro-Italic.eot');
  src: url('./files/fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('./files/fonts/GothamPro-Italic.woff') format('woff'),
  url('./files/fonts/GothamPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Regular';
  src: url('./files/fonts/GothamPro.eot');
  src: url('./files/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('./files/fonts/GothamPro.woff') format('woff'),
  url('./files/fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('./files/fonts/GothamPro-Bold.eot');
  src: url('./files/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('./files/fonts/GothamPro-Bold.woff') format('woff'),
  url('./files/fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$def-color: #242424;
$def-font: 'Gotham Pro Regular', sans-serif;
$bold-font: 'Gotham Pro Bold', sans-serif;
$blue-color: #0076c0;
$red-color: #ea1b23;

*{
  //font-family: 'Roboto Condensed', sans-serif;
  font-family: $def-font;
  box-sizing: border-box;
  color: $def-color;
}

body{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

html, body{
  font-size: 16px;
  color: $def-color;
  min-height: 100vh!important;
  height: 100%!important;
  margin: 0;
}

main{
  flex: 1 0 auto;
}
footer, header{
  flex: 0 0 auto;
}

section{
  margin-bottom: 25px;
}

*::before, *::after{
  max-width: 100%;
}

ul{
  margin: 0;
}

li{
  margin: 0;
  padding: 0;
}

body a:hover{
  color: #da3134;
}

img, svg{
  display: block;
  max-height: 100%;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, span, a{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  color: $def-color;
  text-decoration: none;

  &:hover{
    //color: $def-color;
    text-decoration: none;
  }
}

input{
  max-width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label{
  max-width: 100%;
}

input[type="submit"]{
  padding: 1px 5px;
}

input, select{
  outline-style: none!important;
}

.owl-dots{
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  .owl-dot{
    outline-style: none!important;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255)!important;
    box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-right: 5px;

    &:last-child{
      margin-right: 0;
    }

    &.active{
      background-color: rgb(185, 8, 8)!important;
      box-shadow: none;
    }
  }
}

.red-text{
  color: #da3134;
  font-weight: 700;
}

.max767{
  display: block;
}

.form, .org-filter, .catalogs__sort{
  background-color: #ebedec;
  padding: 25px 10px;

  .selected, .org-filter__inner,
  .catalogs__sort-brand,
  .catalogs__sort-price{
    display: flex;
    flex-direction: column;

    span{
      display: block;
      margin-bottom: 10px;
    }

    p{
      position: relative;

      &::after{
        display: none;
        content: '';
        width: 20px;
        height: 10px;
        background-image: url('./files/imgs/icons/bottom.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        position: absolute;
        right: 5px;
        top: 16px;
        background-color: #fff;
      }

      select{
        width: 100%;
        height: 40px;
        border: none;
        background-color: #fff;
        padding-left: 15px;
        margin-bottom: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::-ms-expand {
          display: none;
        }

        background-image: url('./files/imgs/icons/bottom.png');
        background-position: right 15px center;
        background-repeat: no-repeat;

      }
    }
  }
}

@media screen
and (min-width: 768px){
  .max767{
    display: none;
  }
}

@media screen
and (min-width: 1200px) {

  section{
    margin-bottom: 50px;
  }

  .owl-dots{
    bottom: 30px;
  }

  .form, .org-filter, .catalogs__sort{
    padding: 30px 20px 20px;

    .selected, .org-filter__inner, .catalogs__sort-brand{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      span{
        margin-bottom: 0;
      }

      p{
        width: 350px;

        select{
          margin-bottom: 0;
        }
      }
    }

    .org-filter__inner{

      p{
        max-width: 150px;
      }
    }

  }

}