@charset "UTF-8";
/*!
Theme Name: start build
Author: Kerm
Description: Description
Version: 1.0.0
Text Domain: byKerm.ru
*/
@font-face {
  font-family: 'Gotham Pro Regular Italic';
  src: url("./files/fonts/GothamPro-Italic.eot");
  src: url("./files/fonts/GothamPro-Italic.eot?#iefix") format("embedded-opentype"), url("./files/fonts/GothamPro-Italic.woff") format("woff"), url("./files/fonts/GothamPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Regular';
  src: url("./files/fonts/GothamPro.eot");
  src: url("./files/fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("./files/fonts/GothamPro.woff") format("woff"), url("./files/fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("./files/fonts/GothamPro-Bold.eot");
  src: url("./files/fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("./files/fonts/GothamPro-Bold.woff") format("woff"), url("./files/fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  font-family: "Gotham Pro Regular", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #242424; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden; }

html, body {
  font-size: 16px;
  color: #242424;
  min-height: 100vh !important;
  height: 100% !important;
  margin: 0; }

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

footer, header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

section {
  margin-bottom: 25px; }

*::before, *::after {
  max-width: 100%; }

ul {
  margin: 0; }

li {
  margin: 0;
  padding: 0; }

body a:hover {
  color: #da3134; }

img, svg {
  display: block;
  max-height: 100%;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6, p, span, a {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  color: #242424;
  text-decoration: none; }
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, p:hover, span:hover, a:hover {
  text-decoration: none; }

input {
  max-width: 100%; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

label {
  max-width: 100%; }

input[type="submit"] {
  padding: 1px 5px; }

input, select {
  outline-style: none !important; }

.root-item-selected, .item-selected {
  color: #335da7 !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}
.bckgrd {
  background-color: #eaeceb;
  color: #da3134 !important;
  text-decoration: none !important;
}

.owl-dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.owl-dots .owl-dot {
  outline-style: none !important;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white !important;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-right: 5px; }
.owl-dots .owl-dot:last-child {
  margin-right: 0; }
.owl-dots .owl-dot.active {
  background-color: #b90808 !important;
  -webkit-box-shadow: none;
  box-shadow: none; }

.red-text {
  color: #da3134;
  font-weight: 700; }

.max767 {
  display: block; }

.form, .org-filter, .catalogs__sort {
  background-color: #ebedec;
  padding: 25px 10px; }
.form .selected, .form .org-filter__inner,
.form .catalogs__sort-brand,
.form .catalogs__sort-price, .org-filter .selected, .org-filter .org-filter__inner,
.org-filter .catalogs__sort-brand,
.org-filter .catalogs__sort-price, .catalogs__sort .selected, .catalogs__sort .org-filter__inner,
.catalogs__sort .catalogs__sort-brand,
.catalogs__sort .catalogs__sort-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.form .selected span, .form .org-filter__inner span,
.form .catalogs__sort-brand span,
.form .catalogs__sort-price span, .org-filter .selected span, .org-filter .org-filter__inner span,
.org-filter .catalogs__sort-brand span,
.org-filter .catalogs__sort-price span, .catalogs__sort .selected span, .catalogs__sort .org-filter__inner span,
.catalogs__sort .catalogs__sort-brand span,
.catalogs__sort .catalogs__sort-price span {
  display: block;
  margin-bottom: 10px; }
.form .selected p, .form .org-filter__inner p,
.form .catalogs__sort-brand p,
.form .catalogs__sort-price p, .org-filter .selected p, .org-filter .org-filter__inner p,
.org-filter .catalogs__sort-brand p,
.org-filter .catalogs__sort-price p, .catalogs__sort .selected p, .catalogs__sort .org-filter__inner p,
.catalogs__sort .catalogs__sort-brand p,
.catalogs__sort .catalogs__sort-price p {
  position: relative; }
.form .selected p::after, .form .org-filter__inner p::after,
.form .catalogs__sort-brand p::after,
.form .catalogs__sort-price p::after, .org-filter .selected p::after, .org-filter .org-filter__inner p::after,
.org-filter .catalogs__sort-brand p::after,
.org-filter .catalogs__sort-price p::after, .catalogs__sort .selected p::after, .catalogs__sort .org-filter__inner p::after,
.catalogs__sort .catalogs__sort-brand p::after,
.catalogs__sort .catalogs__sort-price p::after {
  display: none;
  content: '';
  width: 20px;
  height: 10px;
  background-image: url("./files/imgs/icons/bottom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: absolute;
  right: 5px;
  top: 16px;
  background-color: #fff; }
.form .selected p select, .form .org-filter__inner p select,
.form .catalogs__sort-brand p select,
.form .catalogs__sort-price p select, .org-filter .selected p select, .org-filter .org-filter__inner p select,
.org-filter .catalogs__sort-brand p select,
.org-filter .catalogs__sort-price p select, .catalogs__sort .selected p select, .catalogs__sort .org-filter__inner p select,
.catalogs__sort .catalogs__sort-brand p select,
.catalogs__sort .catalogs__sort-price p select {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #fff;
  padding-left: 15px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("./files/imgs/icons/bottom.png");
  background-position: right 15px center;
  background-repeat: no-repeat; }
.form .selected p select::-ms-expand, .form .org-filter__inner p select::-ms-expand,
.form .catalogs__sort-brand p select::-ms-expand,
.form .catalogs__sort-price p select::-ms-expand, .org-filter .selected p select::-ms-expand, .org-filter .org-filter__inner p select::-ms-expand,
.org-filter .catalogs__sort-brand p select::-ms-expand,
.org-filter .catalogs__sort-price p select::-ms-expand, .catalogs__sort .selected p select::-ms-expand, .catalogs__sort .org-filter__inner p select::-ms-expand,
.catalogs__sort .catalogs__sort-brand p select::-ms-expand,
.catalogs__sort .catalogs__sort-price p select::-ms-expand {
  display: none; }

@media screen and (min-width: 768px) {
  .max767 {
    display: none; } }

@media screen and (min-width: 1200px) {
  section {
    margin-bottom: 50px; }
  .owl-dots {
    bottom: 30px; }
  .form, .org-filter, .catalogs__sort {
    padding: 30px 20px 20px; }
  .form .selected, .form .org-filter__inner, .form .catalogs__sort-brand, .org-filter .selected, .org-filter .org-filter__inner, .org-filter .catalogs__sort-brand, .catalogs__sort .selected, .catalogs__sort .org-filter__inner, .catalogs__sort .catalogs__sort-brand {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
  .form .selected span, .form .org-filter__inner span, .form .catalogs__sort-brand span, .org-filter .selected span, .org-filter .org-filter__inner span, .org-filter .catalogs__sort-brand span, .catalogs__sort .selected span, .catalogs__sort .org-filter__inner span, .catalogs__sort .catalogs__sort-brand span {
    margin-bottom: 0; }
  .form .selected p, .form .org-filter__inner p, .form .catalogs__sort-brand p, .org-filter .selected p, .org-filter .org-filter__inner p, .org-filter .catalogs__sort-brand p, .catalogs__sort .selected p, .catalogs__sort .org-filter__inner p, .catalogs__sort .catalogs__sort-brand p {
    width: 350px; }
  .form .selected p select, .form .org-filter__inner p select, .form .catalogs__sort-brand p select, .org-filter .selected p select, .org-filter .org-filter__inner p select, .org-filter .catalogs__sort-brand p select, .catalogs__sort .selected p select, .catalogs__sort .org-filter__inner p select, .catalogs__sort .catalogs__sort-brand p select {
    margin-bottom: 0; }
  .form .org-filter__inner p, .org-filter .org-filter__inner p, .catalogs__sort .org-filter__inner p {
    max-width: 150px; } }

.def-title {
  font-size: 30px;
  margin-bottom: 20px; }
.def-title span {
  color: #da3134;
  font-size: inherit; }

.def-ask {
  display: none; }

.breadcrumbs p {
  font-size: 13px;
  color: #0f75bc; }
.breadcrumbs p a, .breadcrumbs p span {
  font-size: inherit;
  color: inherit; }

.def-f-button {
  background-color: #022068;
  width: 270px;
  margin: 0 auto 25px;
  height: 45px;
  color: #fff;
  line-height: 38px;
  text-align: center;
  cursor: pointer; }
.def-f-button:hover {
  background-color: #002884; }

.subform {
  max-width: 100%;
  width: 400px;
  background-color: #6d7991;
  padding: 30px 0 20px;
  margin: 0 auto 25px; }
.subform__title {
  text-align: center;
  max-width: 100%;
  width: 280px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  margin: 0 auto 25px; }
.subform__button {
  position: relative;
  width: 90%;
  max-width: 300px;
  height: 50px;
  margin: 0 auto; }
.subform__button::before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: -10px;
  top: -10px; }
.subform__button-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #da3134;
  z-index: 1;
  color: #fff;
  text-align: center;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px; }

.def-face {
  margin: 0 auto 35px;
  width: 360px;
  max-width: 100%;
  border-radius: 5px;
  border: 15px solid #666666;
  background-color: #fff;
  padding-top: 20px; }
.def-face .img {
  width: 190px;
  margin: 0 auto 20px; }
.def-face .img img {
  border-radius: 50%; }
.def-face .text {
  margin-bottom: 15px; }
.def-face .text-prof {
  font-size: 14px;
  margin-bottom: 8px;
  text-align: center; }
.def-face .text-name {
  font-size: 24px;
  font-family: "Gotham Pro Bold", sans-serif;
  margin-bottom: 30px;
  text-align: center; }
.def-face .text-phone {
  display: block;
  font-size: 18px;
  text-align: center;
  margin-bottom: 3px; }
.def-face .text-mail {
  display: block;
  font-size: 18px;
  text-align: center; }
.def-face .bottom-block {
  background-color: #da3134;
  padding-bottom: 15px;
  padding-top: 24px; }
.def-face .bottom-block__text {
  color: #fff;
  font-family: "Gotham Pro Bold", sans-serif;
  margin-bottom: 20px;
  text-align: center; }
.def-face .bottom-block__button {
  font-family: "Gotham Pro Bold", sans-serif;
  width: 240px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  line-height: 36px; }

.red-button {
  cursor: pointer; }
.red-button:hover {
  background-color: #f1393c; }

.white-button {
  cursor: pointer; }
.white-button:hover {
  background-color: #fddfdf; }

.blue_button {
  background-color: #335da7;
  width: 136px;
  height: 41px;
  font-family: "Gotham Pro Bold", sans-serif;
  color: #fff;
  line-height: 41px;
  text-align: center;
  cursor: pointer; }
.blue_button:hover {
  background-color: #031747;
  color: #fff; }

.c-items__pag a.active, .org__items__pag a.active {
  color: #da3134;
  font-size: 18px;
  font-weight: 600; }

#page-form .custom-form {
  position: static;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

@media screen and (min-width: 1200px) {
  .def-ask {
    display: block; }
  .def-ask__wrap {
    position: relative;
    background-color: #6d7991;
    height: 240px;
    margin-left: auto;
    padding-left: 135px;
    padding-right: 25px;
    padding-top: 30px; }
  .def-ask__img {
    height: 300px;
    position: absolute;
    left: -190px;
    top: -30px; }
  .def-ask__title {
    text-align: right;
    color: #fff;
    font-size: 36px;
    font-family: "Gotham Pro Bold", sans-serif;
    margin-bottom: 50px; }
  .def-ask__button {
    width: 620px;
    height: 85px;
    margin: 0 auto;
    position: relative; }
  .def-ask__button:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -20px;
    top: -20px;
    background-color: #fff; }
  .def-ask__button-inner {
    position: relative;
    z-index: 1;
    background-color: #da3134;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 36px;
    font-family: "Gotham Pro Bold", sans-serif;
    text-align: center;
    line-height: 76px; }
  .def-title {
    margin-bottom: 20px; }
  .subform {
    width: 100%; }
  .subform__title {
    width: 100%;
    margin-bottom: 40px; }
  .subform__button {
    cursor: pointer; }
  .bot-text__title {
    max-width: 485px; } }

.header {
  padding-top: 15px;
  z-index: 101;
  position: relative; }
.header-bot {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: scroll;
  background-color: #d0dee8;
  z-index: 9;
  padding-top: 55px; }
.header-burger {
  position: absolute;
  z-index: 10;
  width: 35px;
  height: 35px;
  right: 15px; }
.header-burger__link-line {
  width: 35px;
  height: 4px;
  background-color: #0f75bc;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
.burger-opened .header-burger__link-line {
  background-color: transparent; }
.burger-opened .header-burger__link-line::before {
  -webkit-transform: rotate(45deg) translateY(0);
  transform: rotate(45deg) translateY(0);
  top: 0; }
.burger-opened .header-burger__link-line::after {
  -webkit-transform: rotate(-45deg) translateY(0);
  transform: rotate(-45deg) translateY(0);
  top: 0; }
.header-burger__link-line::before {
  display: block;
  content: '';
  width: 35px;
  height: 4px;
  background-color: #0f75bc;
  position: absolute;
  left: 0;
  top: -6px; }
.header-burger__link-line::after {
  display: block;
  content: '';
  width: 35px;
  height: 4px;
  background-color: #0f75bc;
  position: absolute;
  left: 0;
  top: 6px; }
.header-logo {
  margin-bottom: 20px; }
.header-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.header-title {
  margin-bottom: 25px; }
.header-title span {
  font-size: 15px;
  font-family: 'Gotham Pro Regular Italic', sans-serif;
  text-align: center;
  display: block; }
.header-phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15px; }
.header-phones__inner {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  padding-left: 30px; }
.header-phones__inner:before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url("./files/imgs/icons/phone.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 3px; }
.header-phones__inner a {
  display: block;
  font-size: 26px;
  font-family: "Gotham Pro Bold", sans-serif; }
.header-phones__inner a:first-child {
  margin-bottom: 5px; }
.header-address {
  display: block;
  max-width: 140px;
  min-width: 140px;
  padding-right: 0;
  position: relative;
  margin: 0 auto 15px; }
.header-address__inner {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  padding-left: 30px; }
.header-address__inner:before {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url("./files/imgs/icons/address.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 3px; }
.header-address__inner-cur {
  text-decoration: underline;
  cursor: pointer; }
.header-address__popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff; }
.header-address__popup-back {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #636363; }
.header-address__popup-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 300px;
  max-width: 100vw;
  padding: 35px 15px 25px;
  -webkit-box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14); }
.header-address__popup-exit {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px; }
.header-address__popup-exit::before {
  display: block;
  content: '';
  position: absolute;
  left: 1px;
  top: 6px;
  width: 12px;
  height: 2px;
  background-color: #555555;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
.header-address__popup-exit::after {
  display: block;
  content: '';
  position: absolute;
  left: 1px;
  top: 6px;
  width: 12px;
  height: 2px;
  background-color: #555555;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.header-address__popup-title {
  margin-bottom: 15px; }
.header-address__popup-title span {
  font-family: "Gotham Pro Bold", sans-serif;
  font-size: 18px; }
.header-address__popup-search {
  position: relative;
  margin-bottom: 15px; }
.header-address__popup-search::after {
  display: block;
  content: '';
  width: 14px;
  height: 14px;
  background-image: url("./files/imgs/icons/search.png");
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
.header-address__popup-search input {
  display: block;
  width: 100%;
  padding-right: 30px;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
  height: 25px;
  padding-left: 15px;
  color: #000; }
.header-address__popup-search input::-webkit-input-placeholder {
  color: #000; }
.header-address__popup-search input::-moz-placeholder {
  color: #000; }
.header-address__popup-search input:-ms-input-placeholder {
  color: #000; }
.header-address__popup-search input::-ms-input-placeholder {
  color: #000; }
.header-address__popup-search input::placeholder {
  color: #000; }
.header-address__popup-list ul {
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none; }
.header-address__popup-list ul li {
  width: 100%;
  padding: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px; }
.header-address__popup-list ul li img {
  width: 50px;
  margin-right: 25px; }
.header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
.header-social__search-link {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("./files/imgs/icons/search.png");
  background-position: center center;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer; }
.header-social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.header-social__links .odnok, .header-social__links .insta {
  width: 20px; }
.header-social__links a {
  margin-right: 15px; }
.header-social__links a:last-child {
  margin-right: 0; }
.header-social__links-cart {
  position: relative; }
.header-social__links-cart span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  overflow: hidden;
  color: red;
  position: absolute;
  left: -5px;
  top: -5px;
  background-color: #fff;
  border: 1px solid #242424;
  border-radius: 50%;
  font-size: 11px; }
.header-social__popup {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  width: 300px;
  max-width: 100vw;
  padding: 35px 15px 25px;
  -webkit-box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14); }
.header-social__popup-exit {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px; }
.header-social__popup-exit::before {
  display: block;
  content: '';
  position: absolute;
  left: 1px;
  top: 6px;
  width: 12px;
  height: 2px;
  background-color: #555555;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
.header-social__popup-exit::after {
  display: block;
  content: '';
  position: absolute;
  left: 1px;
  top: 6px;
  width: 12px;
  height: 2px;
  background-color: #555555;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.header-social__popup-input {
  position: relative;
  margin-bottom: 15px; }
.header-social__popup-input::after {
  display: block;
  content: '';
  width: 14px;
  height: 14px;
  background-image: url("./files/imgs/icons/search.png");
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
.header-social__popup-input input {
  display: block;
  width: 100%;
  padding-right: 30px;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
  height: 25px;
  padding-left: 15px;
  color: #000; }
.header-social__popup-input input::-webkit-input-placeholder {
  color: #000; }
.header-social__popup-input input::-moz-placeholder {
  color: #000; }
.header-social__popup-input input:-ms-input-placeholder {
  color: #000; }
.header-social__popup-input input::-ms-input-placeholder {
  color: #000; }
.header-social__popup-input input::placeholder {
  color: #000; }
.header-navigation ul {
  list-style: none;
  padding-left: 0; }
.header-navigation ul li {
  margin-bottom: 40px; }
.header-navigation ul li a {
  color: #0d3363;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  display: block; }
.header-navigation ul li a span {
  font-family: "Gotham Pro Bold", sans-serif;
  font-size: inherit;
  color: inherit;
  display: block;
  line-height: inherit;
  text-align: center; }
.header-contacts {
  position: relative;
  padding-top: 30px;
  padding-bottom: 65px;
  background-color: #0f75bc;
  margin-bottom: 80px; }
.header-contacts a {
  display: block; }
.header-contacts__first {
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  font-family: "Gotham Pro Bold", sans-serif;
  color: #fff; }
.header-contacts__second {
  text-align: center;
  font-size: 16px;
  font-family: "Gotham Pro Bold", sans-serif;
  color: #fff; }
.header-contacts__fast {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#b60606), to(#ef2a2a));
  background: linear-gradient(180deg, #b60606 0%, #ef2a2a 100%);
  border: 10px solid #d0dee8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: "Gotham Pro Bold", sans-serif;
  position: absolute;
  bottom: -80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer; }
.header-contacts__fast:hover {
  background: #ba0808; }
.header-contacts .w1200 {
  display: none; }

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 10px; }
  .header-top {
    padding-bottom: 20px; }
  .header-top .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-bot {
    display: block;
    position: relative;
    padding-top: 22px;
    overflow-y: inherit;
    height: 100px;
    margin-bottom: 45px; }
  .header-bot .row {
    position: relative; }
  .header-logo {
    margin-bottom: 0; }
  .header-title {
    margin-bottom: 0; }
  .header-phones {
    margin-bottom: 0; }
  .header-phones a {
    font-size: 22px; }
  .header-address {
    margin: 0; }
  .header-address__popup {
    border-radius: 5px;
    z-index: 10; }
  .header-address__popup-inner {
    padding: 55px 35px 35px; }
  .header-social {
    max-width: 240px;
    margin: 0; }
  .header-social__popup {
    border-radius: 5px;
    z-index: 10;
    width: 700px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    left: -470px;
    top: 40px;
    padding-top: 35px;
    padding-bottom: 15px; }
  .header-navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 810px; }
  .header-navigation ul li {
    margin-bottom: 0;
    padding-right: 10px;
    position: relative;
    height: 78px; }
  .header-navigation ul li:hover::after {
    display: block;
    content: '';
    background-color: #0f75bc;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0; }
  .header-navigation ul li:last-child {
    padding-right: 0; }
  .header-navigation ul li a {
    font-size: 12px;
    font-weight: 700; }
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: calc(760px + 100px);
    padding: 0;
    height: 100px;
    margin: 0; }
  .header-contacts a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-contacts::before {
    display: block;
    content: '';
    height: 0;
    width: 0;
    border-right: 80px solid #0f75bc;
    border-top: 100px solid transparent;
    position: absolute;
    left: -80px;
    top: 0;
    z-index: -1; }
  .header-contacts .w1200 {
    display: block; }
  .header-contacts__first {
    font-size: 12px;
    margin: 0;
    position: absolute;
    left: -30px; }
  .header-contacts__second {
    font-size: 12px;
    margin: 0;
    position: absolute;
    left: 85px; }
  .header-contacts__first, .header-contacts__second {
    top: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-contacts__first:hover, .header-contacts__second:hover {
    color: #fff; }
  .header-contacts__first:hover::after, .header-contacts__second:hover::after {
    display: block;
    content: '';
    background-color: #fff;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0; }
  .header-contacts__fast {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute;
    left: 170px;
    top: 50%; } }

.first-slider .item {
  height: 400px;
  position: relative;
  overflow: hidden; }
.first-slider .item img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: none;
  width: auto !important; }
.first-slider .item .main-slider-item__link {
  position: absolute;
  left: calc(50% + 20px);
  bottom: 40px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
.first-slider .item .main-slider-item__link::before {
  display: block;
  content: '';
  width: 85%;
  height: 85%;
  background-color: #fff;
  position: absolute;
  left: -20px;
  top: -20px;
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg); }
.first-slider .item .main-slider-item__link h2 {
  width: 270px;
  background-color: #6d7991;
  color: #fff;
  font-family: "Gotham Pro Bold", sans-serif;
  position: relative;
  z-index: 1;
  font-size: 20px;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px; }

.about__text p {
  margin-bottom: 20px; }
.about__text p span {
  font-family: "Gotham Pro Bold", sans-serif; }

.about__more a {
  color: #0f75bc; }

.advantages {
  padding-top: 45px;
  background-color: #e5e5e5;
  padding-bottom: 50px; }
.advantages .item {
  background-color: #fff;
  padding-bottom: 50px; }
.advantages .item__img {
  margin-bottom: 30px; }
.advantages .item__text {
  padding: 0 25px;
  height: 54px; }
.advantages .item__subtext {
  display: none; }
.advantages .owl-dots {
  bottom: -30px; }

.def-ask.backe5e5e5 {
  background-color: #e5e5e5; }

.clients__top-text {
  margin-bottom: 25px; }

.clients__slider {
  padding-bottom: 25px;
  margin-bottom: 30px; }
.clients__slider .item__img img {
  margin: 0 auto; }
.clients__slider .item__title {
  display: none; }
.clients__slider .item__text {
  display: none; }

.clients__monial-title {
  position: relative;
  padding-left: 50px;
  padding-top: 20px;
  background-image: url("./files/imgs/icons/monial.png");
  background-size: auto;
  background-position: left top;
  background-repeat: no-repeat;
  font-family: "Gotham Pro Bold", sans-serif;
  margin-bottom: 20px; }

.delivery {
  background-color: #999999;
  padding-top: 25px;
  padding-bottom: 35px; }
.delivery .def-title {
  color: #fff; }
.delivery__text {
  margin-bottom: 30px; }
.delivery__text p {
  color: #fff;
  margin-bottom: 25px; }
.delivery__text p a, .delivery__text p span {
  color: #d6383b;
  font-size: inherit;
  font-family: "Gotham Pro Bold", sans-serif; }
.delivery__text p:last-child {
  margin-bottom: 0;
  padding-left: 50px;
  background-image: url("./files/imgs/icons/address2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center; }
.delivery__imgs-map {
  margin: 0 auto 25px;
  cursor: pointer; }
.delivery__imgs-build {
  margin: 0 auto;
  padding: 15px;
  background: white;
  border-radius: 10px; }

.services-subtitle {
  font-family: 'Gotham Pro Regular Italic';
  font-size: 18px;
  font-weight: 700;
  color: #da3134;
  text-align: center;
  margin-bottom: 25px; }

.services-text {
  margin-bottom: 25px; }
.services-text p {
  margin-bottom: 30px; }
.services-text p:last-child {
  margin-bottom: 0; }
.services-text p span {
  font-family: "Gotham Pro Bold", sans-serif;
  color: #1c3d66; }

.services-product .item {
  background-color: #999999;
  padding: 20px 15px 15px;
  width: 380px;
  max-width: 100%;
  margin: 0 auto; }
.services-product .item__title {
  margin-bottom: 15px; }
.services-product .item__title p {
  font-size: 18px;
  font-family: "Gotham Pro Bold", sans-serif;
  color: #fff;
  text-align: center; }
.services-product .item__title p span {
  font-size: inherit;
  font-family: inherit;
  color: inherit; }
.services-product .item__text {
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 15px; }
.services-product .item__text-img {
  max-width: 220px;
  margin: 0 auto 10px; }
.services-product .item__text-img img {
  margin: 0 auto; }
.services-product .item__text-hot {
  width: calc(100% + 30px);
  position: relative;
  left: -15px;
  height: 80px;
  background-color: #da3134;
  padding-top: 10px;
  margin-bottom: 40px; }
.services-product .item__text-hot span {
  font-size: 20px;
  font-family: "Gotham Pro Bold", sans-serif;
  color: #fff;
  text-align: center;
  display: block; }
.services-product .item__text-hot a {
  width: 150px;
  height: 60px;
  background-color: #666666;
  position: absolute;
  left: 130px;
  top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-family: "Gotham Pro Bold", sans-serif;
  line-height: 1.2;
  text-align: center; }
.services-product .item__text-price p {
  color: #da3134;
  text-align: center;
  font-weight: 600; }
.services-product .item__text-price span {
  font-size: 24px;
  font-family: "Gotham Pro Bold", sans-serif;
  color: #da3134; }

.services-product__analog {
  padding-top: 15px;
  background-color: #fff;
  color: #999999;
  text-align: center; }

.orgteh .full-wrap__left {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-bottom: 25px; }

.full-wrap__left {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }
.full-wrap__left .sub-block {
  background-color: #e9eceb;
  padding-top: 35px;
  padding-bottom: 30px;
  margin-bottom: 30px; }
.full-wrap__left .sub-block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px; }
.full-wrap__left .sub-block p {
  padding: 0 15px;
  text-align: center;
  font-weight: 600; }
.full-wrap__left .sub-block p:nth-child(2) {
  margin-bottom: 20px; }
.full-wrap__left .sub-block p span {
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding-top: 5px; }
.full-wrap__left .logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.full-wrap__left .logo-block img {
  max-width: 180px; }
.full-wrap__left .org-filter {
  background-color: #e9eceb;
  padding-top: 20px;
  padding-bottom: 25px; }
.full-wrap__left .catalogs-nav {
  margin-bottom: 25px;
  background-color: #f9f8f4; }
.full-wrap__left .catalogs-nav__title {
  color: #242424;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 20px;
  background-color: #eaeceb;
  padding: 20px; }
.full-wrap__left .catalogs-nav nav span {
  position: relative;
  display: block;
  cursor: pointer;
  padding-right: 30px; }
.full-wrap__left .catalogs-nav nav span::after {
  display: block;
  content: '';
  width: 14px;
  height: 7px;
  background-image: url("./files/imgs/icons/bottom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 5px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s; }
.full-wrap__left .catalogs-nav nav span.active::after {
  -webkit-transform: rotate(0);
  transform: rotate(0); }
.full-wrap__left .catalogs-nav nav span + ul {
  display: none; }
.full-wrap__left .catalogs-nav nav span.active + ul {
  display: block; }
.full-wrap__left .catalogs-nav nav ul {
  list-style: none;
  padding-left: 0; }
.full-wrap__left .catalogs-nav nav ul a {
  padding: 3px 0;
  display: block; }
.full-wrap__left .catalogs-nav nav li {
  list-style: none; }
.full-wrap__left .catalogs-nav nav > ul {
  padding: 0 20px; }
.full-wrap__left .catalogs-nav nav > ul > li > span {
  color: #335da7;
  font-weight: 500;
  font-size: 16px;
  display: block;
  margin-bottom: 25px; }
.full-wrap__left .catalogs-nav nav > ul > li > span + ul {
  margin-bottom: 25px; }
.full-wrap__left .catalogs-nav nav > ul ul {
  padding-left: 10px; }

.full-wrap__right {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-bottom: 30px; }
.full-wrap__right .top-text {
  margin-bottom: 25px; }
.full-wrap__right .top-text p:first-child {
  margin-bottom: 25px; }
.full-wrap__right .form {
  background-color: #ebedec;
  padding: 25px 10px; }
.full-wrap__right .form .ordered__text {
  margin-bottom: 10px; }
.full-wrap__right .form__total {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px; }
.full-wrap__right .form .text p {
  margin-bottom: 10px; }
.full-wrap__right .form .text p:first-child, .full-wrap__right .form .text p:last-child {
  max-width: 70%; }
.full-wrap__right .form .download__title {
  display: block;
  margin-bottom: 10px; }
.full-wrap__right .form .download input {
  display: none; }
.full-wrap__right .form .download__input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #fff;
  padding-left: 15px;
  margin-bottom: 20px;
  position: relative; }
.full-wrap__right .form .download__input::after {
  display: block;
  content: '';
  width: 20px;
  height: 10px;
  background-image: url(./files/imgs/icons/bottom.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: absolute;
  right: 5px;
  top: 16px;
  background-color: #fff; }
.full-wrap__right .bot-text__title {
  margin-bottom: 20px; }
.full-wrap__right .bot-text p {
  margin-bottom: 15px; }
.full-wrap__right .bot-text span {
  display: block; }
.full-wrap__right .top-text img {
  margin-bottom: 15px; }
.full-wrap__right .top-text p {
  margin-bottom: 20px; }
.full-wrap__right .top-text p:last-child {
  margin-bottom: 0; }
.full-wrap__right .top-text p:last-child .span-b {
  display: block;
  font-weight: 700; }
.full-wrap__right .delivery__imgs {
  margin-bottom: 25px; }
.full-wrap__right .delivery__imgs-map {
  border-radius: 5px;
  border: 11px solid #666666;
  background-color: #666666; }
.full-wrap__right .delivery__imgs-build {
  border-radius: 10px;
  background-color: #666666; }
.full-wrap__right .bot-text img {
  margin-bottom: 15px; }
.full-wrap__right .bot-text__map {
  border-radius: 5px;
  border: 11px solid #666666;
  background-color: #666666; }
.full-wrap__right .bot-text__map img {
  margin: 0 auto; }
.full-wrap__right .bot-text__addresses {
  padding-top: 20px;
  margin-bottom: 20px; }
.full-wrap__right .bot-text__addresses ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
  margin-bottom: 25px; }
.full-wrap__right .bot-text__addresses ul li {
  margin-bottom: 15px; }
.full-wrap__right .bot-text__addresses ul li:last-child {
  margin-bottom: 0; }
.full-wrap__right .bot-text__addresses ul li:first-child {
  font-weight: 700; }
.full-wrap__right .bot-text__addresses ul li:not(:first-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.full-wrap__right .bot-text__info img {
  margin-bottom: 15px; }
.full-wrap__right .bot-text__info p {
  margin-bottom: 20px; }
.full-wrap__right .bot-text__info p:last-child {
  margin-bottom: 0; }
.full-wrap__right .top-text .img-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.full-wrap__right .top-text .img-left img {
  max-width: 130px;
  margin-right: 25px;
  margin-bottom: 0; }
.full-wrap__right .subform.bg-red-no-square {
  background-color: #da3134; }
.full-wrap__right .subform.bg-red-no-square .subform__button::before {
  display: none; }
.full-wrap__right .subform.bg-red-no-square .subform__button-inner {
  color: #242424;
  text-align: center;
  background-color: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.full-wrap__right .top-text .voskl {
  color: #da3134;
  font-family: 'Gotham Pro Regular Italic';
  font-weight: 700;
  padding-left: 40px;
  position: relative; }
.full-wrap__right .top-text .voskl::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '!';
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 85px; }
.full-wrap__right .org__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.full-wrap__right .org__items .orgitem-wrap {
  margin-bottom: 25px; }
.full-wrap__right .org__items .orgitem-wrap.discount-product .org__items-item__price {
  color: #da3134; }
.full-wrap__right .org__items .orgitem-wrap.discount-product .org__items-item__img::before {
  display: block;
  content: 'Скидка';
  color: #fff;
  background-color: #da3134;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -10px;
  height: 25px;
  width: calc(100% - 10px);
  text-align: center;
  line-height: 25px;
  border-radius: 2px; }
.full-wrap__right .org__items-item {
  padding: 15px 15px 200px;
  position: relative;
  background-color: #f9f8f4;
  width: 100%;
  max-width: 300px;
  margin: 0 auto; }
.full-wrap__right .org__items-item__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 18px;
  text-align: center; }
.full-wrap__right .org__items-item__desc {
  margin-bottom: 18px; }
.full-wrap__right .org__items-item__char {
  display: block;
  text-align: right;
  color: #335da7;
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer; }
.full-wrap__right .org__items-item__img {
  width: 110px;
  height: 120px;
  position: absolute;
  left: 20px;
  bottom: 80px; }
.full-wrap__right .org__items-item__img img {
  margin: 0 auto; }
.full-wrap__right .org__items-item__storage {
  position: absolute;
  left: 150px;
  bottom: 130px; }
.full-wrap__right .org__items-item__price {
  display: block;
  color: #150a31;
  font-weight: 700;
  font-size: 20px;
  width: 130px;
  position: absolute;
  font-family: "Gotham Pro Bold", sans-serif;
  bottom: 100px;
  left: 150px; }
.full-wrap__right .org__items-item__button {
  display: block;
  cursor: pointer;
  width: 130px;
  height: 40px;
  background-color: #335da7;
  color: #fff;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  position: absolute;
  bottom: 50px;
  left: 150px; }
.full-wrap__right .org__items-item__button:hover {
  background-color: #031747;
  color: #fff; }
.full-wrap__right .org__items-item__analog {
  color: #7f7f7f;
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  text-align: center;
  display: block; }
.full-wrap__right .org__items__pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 100%; }
.full-wrap__right .org__items__pag a {
  margin-right: 15px; }
.full-wrap__right .org__items__pag a:last-child {
  margin-right: 0; }
.full-wrap__right .catalogs__sort {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.full-wrap__right .catalogs__sort-title {
  margin-right: 40px; }
.full-wrap__right .catalogs__sort-title span {
  font-weight: 700; }
.full-wrap__right .catalogs__sort-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.full-wrap__right .catalogs__sort-price label input:checked + span::before {
  -webkit-transform: rotate(0);
  transform: rotate(0); }
.full-wrap__right .catalogs__sort-price label span {
  font-weight: 700;
  position: relative;
  padding-right: 30px;
  margin: 0; }
.full-wrap__right .catalogs__sort-price label span::before {
  display: block;
  content: '';
  width: 20px;
  height: 10px;
  background-image: url("./files/imgs/icons/bottom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all .4s;
  transition: all .4s; }
.full-wrap__right .catalogs__sort-price label input {
  display: none; }
.full-wrap__right .catalogs__sort-brand {
  padding-top: 15px;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-bottom: 15px; }
.full-wrap__right .catalogs__sort-brand span {
  min-width: 90px;
  max-width: 90px;
  margin-right: 20px;
  margin-bottom: 0;
  font-weight: 700; }
.full-wrap__right .catalogs__sort-brand p {
  width: 100%;
  max-width: calc(100% - 70px - 30px); }
.full-wrap__right .catalogs__sort-brand p select {
  margin-bottom: 0; }
.full-wrap__right .catalogs__sort-cartrige {
  width: 100%; }
.full-wrap__right .catalogs__sort-cartrige__title {
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px; }
.full-wrap__right .catalogs__sort-cartrige__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.full-wrap__right .catalogs__sort-cartrige__inputs label {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.full-wrap__right .catalogs__sort-cartrige__inputs label input {
  display: none; }
.full-wrap__right .catalogs__sort-cartrige__inputs label input:checked + span::before {
  content: '✓'; }
.full-wrap__right .catalogs__sort-cartrige__inputs label span {
  position: relative;
  padding-right: 25px;
  min-width: 120px; }
.full-wrap__right .catalogs__sort-cartrige__inputs label span::before {
  display: block;
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #242424;
  text-align: center; }
.full-wrap__right .c-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.full-wrap__right .c-items__wrap {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.full-wrap__right .c-items__wrap.discount-product .c-items__item-price {
  color: #da3134; }
.full-wrap__right .c-items__wrap.discount-product .c-items__item-img::before {
  display: block;
  content: 'Скидка';
  color: #fff;
  background-color: #da3134;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -5px;
  height: 25px;
  width: calc(100% - 10px);
  text-align: center;
  line-height: 25px;
  border-radius: 2px; }
.full-wrap__right .c-items__item {
  background-color: #f9f8f4;
  width: 300px;
  max-width: 100%;
  padding: 30px 30px 220px;
  position: relative; }
.full-wrap__right .c-items__item-title {
  font-weight: 700;
  font-family: "Gotham Pro Bold", sans-serif;
  text-align: center;
  margin-bottom: 15px; }
.full-wrap__right .c-items__item-img {
  width: 110px;
  height: 120px;
  position: absolute;
  left: 50%;
  bottom: 105px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
.full-wrap__right .c-items__item-img img {
  margin: 0 auto; }
.full-wrap__right .c-items__item-price {
  width: 150px;
  font-weight: 700;
  font-family: "Gotham Pro Bold", sans-serif;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 75px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #150a31; }
.full-wrap__right .c-items__item-button {
  cursor: pointer;
  width: 135px;
  height: 40px;
  background-color: #335da7;
  color: #fff;
  text-align: center;
  line-height: 36px;
  position: absolute;
  left: 50%;
  bottom: 25px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
.full-wrap__right .c-items__item-button:hover {
  background-color: #031747;
  color: #fff; }
.full-wrap__right .c-items__pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 100%; }
.full-wrap__right .c-items__pag a {
  margin-right: 15px; }
.full-wrap__right .c-items__pag a:last-child {
  margin-right: 0; }
.full-wrap__right .autsorting-filter {
  padding: 45px 10px; }
.full-wrap__right .autsorting-filter form label:not(#input-down-file) {
  margin-bottom: 10px;
  display: block; }
.full-wrap__right .autsorting-filter form label:not(#input-down-file) span {
  display: block;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px; }
.full-wrap__right .autsorting-filter form label:not(#input-down-file) input {
  width: 440px;
  max-width: 100%;
  border: 1px solid #8d8d8d;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 1, 1, 0.3);
  box-shadow: inset 0px 1px 1px 0px rgba(0, 1, 1, 0.3);
  height: 43px;
  padding: 0 10px; }
.full-wrap__right .autsorting-filter form .def-f-button.autsorting-filter__hidden-submit {
  background-color: #da3134;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin: 0;
  border: none;
  padding: 0;
  height: 60px;
  width: 440px;
  max-width: 100%;
  cursor: pointer; }
.full-wrap__right .autsorting-filter form .def-f-button.autsorting-filter__hidden-submit:hover {
  background-color: #f1393c; }
.full-wrap__right .autsorting-filter .download {
  margin-bottom: 25px; }
.full-wrap__right .autsorting-filter .download #input-down-file {
  display: block;
  position: relative; }
.full-wrap__right .autsorting-filter .download__button {
  display: block;
  height: 42px;
  margin-bottom: 35px; }
.full-wrap__right .autsorting-filter .download__yep {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -20px; }
.full-wrap__right .autsorting-filter__counts input {
  width: 100%;
  padding-left: 15px;
  height: 40px;
  border: none;
  margin-bottom: 20px; }
.full-wrap__right .autsorting-filter__hidden {
  display: none; }
.full-wrap__right .autsorting-filter .for-dowload {
  margin-bottom: 20px; }
.full-wrap__right .my-default-page__bold-text p {
  font-weight: 700;
  margin-bottom: 15px;
  color: #022068;
  line-height: 1.5; }
.full-wrap__right .my-default-page__bold-text p a {
  font-weight: inherit;
  color: #da3134; }
.full-wrap__right .my-default-page__block {
  background-color: #ebedec;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px; }
.full-wrap__right .my-default-page__block-left {
  margin-bottom: 15px; }
.full-wrap__right .my-default-page__block-left img {
  width: 130px; }
.full-wrap__right .my-default-page__block-right {
  font-weight: 700;
  color: #022068;
  line-height: 1.5; }
.full-wrap__right .my-default-page__block-right p, .full-wrap__right .my-default-page__block-right a {
  font-weight: inherit;
  color: inherit;
  line-height: inherit; }
.full-wrap__right .my-default-page__block-right a {
  text-decoration: underline; }
.full-wrap__right .my-default-page__block-right span {
  color: #da3134;
  font-weight: inherit;
  line-height: inherit;
  padding: 0 15px; }
.full-wrap__right .my-default-page__button {
  height: auto;
  width: 300px;
  max-width: 100%;
  padding: 10px;
  line-height: 1.3; }
.full-wrap__right .my-default-page__list p {
  padding-left: 45px;
  background-image: url("./files/imgs/icons/exclamation.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
  color: #da3134; }
.full-wrap__right .my-default-page__subtext {
  font-family: 'Gotham Pro Regular Italic';
  text-align: center;
  font-weight: 300;
  color: #da3134; }

.org-detail {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 111;
  display: none; }
.org-detail__back {
  cursor: pointer;
  background-color: #636363;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
.org-detail__inner {
  position: absolute;
  left: 50%;
  top: 50px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  padding: 25px 20px;
  height: calc(100% - 100px);
  width: calc(100% - 50px); }
.org-detail__inner-exit {
  width: 36px;
  height: 36px;
  background-color: #636363;
  position: absolute;
  right: -5px;
  top: -40px;
  border-radius: 50%;
  cursor: pointer; }
.org-detail__inner-exit::before {
  display: block;
  content: '';
  width: 22px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 7px;
  top: 17px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
.org-detail__inner-exit::after {
  display: block;
  content: '';
  width: 22px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 7px;
  top: 17px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.org-detail__inner-content {
  height: 100%;
  overflow-y: scroll; }
.org-detail__inner-content__title {
  font-size: 18px;
  font-family: "Gotham Pro Bold", sans-serif;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 15px;
  text-align: center; }
.org-detail__inner-content .block {
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 15px; }
.org-detail__inner-content .block:last-child {
  margin-bottom: 0; }
.org-detail__inner-content .block__title {
  margin-bottom: 10px;
  text-align: center;
  font-family: "Gotham Pro Bold", sans-serif;
  color: #616161; }
.org-detail__inner-content .block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 10px; }
.org-detail__inner-content .block__inner:last-child {
  margin-bottom: 0; }
.org-detail__inner-content .block__inner-title {
  text-decoration: underline;
  margin-bottom: 5px;
  text-align: center; }
.org-detail__inner-content .block__inner-value {
  text-align: left; }

.video {
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: #ebedec; }
.video-text .def-title {
  font-size: 20px;
  font-weight: 700; }
.video-text p {
  margin-bottom: 15px; }
.video-text p:last-child {
  margin-bottom: 0; }
.video-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.video-video img {
  margin-bottom: 25px; }
.video-video a {
  font-family: 'Gotham Pro Regular Italic';
  font-size: 15px;
  text-align: center;
  text-decoration: underline; }

.only_product__title {
  background-color: #eaeceb;
  padding: 5px 15px;
  font-size: 20px;
  font-family: "Gotham Pro Bold", sans-serif;
  margin-bottom: 15px; }

.only_product .only_product-img {
  margin: 0 auto 15px; }
.only_product .only_product-img img {
  margin: 0 auto; }

.only_product__text {
  margin-bottom: 25px; }
.only_product__text-article {
  margin-bottom: 15px; }
.only_product__text-description {
  margin-bottom: 25px; }
.only_product__text-description span {
  display: block;
  margin-bottom: 15px; }
.only_product__text-price {
  display: block;
  text-align: right;
  font-family: "Gotham Pro Bold", sans-serif;
  font-size: 20px;
  margin-bottom: 25px; }
.only_product__text-price span {
  font-family: inherit;
  font-size: inherit; }
.only_product__text .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.only_product__text .buttons a {
  display: block; }
.only_product__text-fast__buy {
  background-color: #fff;
  border: 2px solid #cf1616;
  width: 159px;
  height: 41px;
  color: #cf1616;
  line-height: 37px;
  text-align: center;
  cursor: pointer;
  font-family: "Gotham Pro Bold", sans-serif; }
.only_product__text-fast__buy:hover {
  color: #fff;
  background-color: #cf1616; }

.only_product__description table {
  border-collapse: collapse;
  width: 100%; }
.only_product__description table tr td {
  border: 1px solid #cccccc;
  padding: 10px 20px; }
.only_product__description table tr:nth-child(odd) {
  background-color: #f9f8f4; }

.only_product.discount-product .only_product__text-price {
  color: #da3134; }
.only_product.discount-product .only_product__text-price span {
  color: inherit; }

.only_product.discount-product .only_product-img {
  position: relative; }
.only_product.discount-product .only_product-img::before {
  display: block;
  content: 'Скидка';
  color: #fff;
  background-color: #da3134;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -10px;
  height: 25px;
  width: calc(100% - 10px);
  text-align: center;
  line-height: 25px;
  border-radius: 2px; }

.cart {
  border-radius: 9px;
  background-color: #ebedec; }
.cart-top {
  height: 60px;
  border-radius: 3px;
  background-color: #d0dee8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px; }
.cart-top__title {
  font-size: 20px;
  font-family: "Gotham Pro Bold", sans-serif; }
.cart-top__subtitle {
  display: none; }
.cart-items-wrap {
  padding: 10px 15px 25px; }
.cart-items-wrap .cart-item {
  background-color: #fff;
  padding: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px; }
.cart-items-wrap .cart-item:last-child {
  margin-bottom: 0; }
.cart-items-wrap .cart-item__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 7px; }
.cart-items-wrap .cart-item__img {
  min-width: calc(100% - 20px);
  margin-bottom: 25px; }
.cart-items-wrap .cart-item__img img {
  max-width: 100px; }
.cart-items-wrap .cart-item__title {
  width: calc(100% - 100px - 50px);
  position: absolute;
  left: 145px;
  top: 40px; }
.cart-items-wrap .cart-item__price {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4; }
.cart-items-wrap .cart-item__discount {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
  margin-bottom: 20px;
  min-width: 100%;
  text-align: right;
  color: #da3134; }
.cart-items-wrap .cart-item__discount span {
  color: #da3134; }
.cart-items-wrap .cart-item__count {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 120px;
  margin-bottom: 0; }
.cart-items-wrap .cart-item__count span {
  width: 120px;
  margin-bottom: 5px;
  text-align: center; }
.cart-items-wrap .cart-item__count-minus, .cart-items-wrap .cart-item__count-plus {
  width: 26px;
  height: 24px;
  border: 1px solid #2762ac;
  background-color: #d0dee8; }
.cart-items-wrap .cart-item__count-minus {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  position: relative; }
.cart-items-wrap .cart-item__count-minus::before {
  display: block;
  content: '';
  background-color: #150a31;
  width: 12px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.cart-items-wrap .cart-item__count-plus {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  position: relative; }
.cart-items-wrap .cart-item__count-plus::before {
  display: block;
  content: '';
  background-color: #150a31;
  width: 12px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.cart-items-wrap .cart-item__count-plus::after {
  display: block;
  content: '';
  background-color: #150a31;
  width: 2px;
  height: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.cart-items-wrap .cart-item__count input {
  width: 28px;
  height: 24px;
  border-top: 1px solid #2762ac;
  border-bottom: 1px solid #2762ac;
  border-left: none;
  border-right: none;
  text-align: center;
  line-height: 22px; }
.cart-items-wrap .cart-item__summary {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  order: 6; }
.cart-items-wrap .cart-item__summary span {
  font-family: "Gotham Pro Bold", sans-serif;
  font-size: 18px; }
.cart-items-wrap .cart-item__delete {
  position: absolute;
  width: 12px;
  height: 12px;
  cursor: pointer;
  right: 10px;
  top: 10px; }
.cart-items-wrap .cart-item__delete::before {
  display: block;
  content: '';
  width: 10px;
  position: absolute;
  left: 1px;
  top: 4px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 2px;
  background-color: #555555; }
.cart-items-wrap .cart-item__delete::after {
  display: block;
  content: '';
  width: 10px;
  position: absolute;
  left: 1px;
  top: 4px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 2px;
  background-color: #555555; }
.cart-bot {
  padding-bottom: 20px; }
.cart-bot__text {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #6d7991;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: "Gotham Pro Bold", sans-serif;
  margin-bottom: 25px; }
.cart-bot__text p {
  margin-bottom: 25px;
  line-height: 1.5; }
.cart-bot__text p, .cart-bot__text span {
  font-size: inherit;
  color: inherit;
  font-family: inherit; }
.cart-bot__text-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  position: relative; }
.cart-bot__text-button a {
  display: block;
  cursor: pointer;
  background-color: #da3134;
  width: 200px;
  height: 50px;
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 18px;
  font-family: "Gotham Pro Bold", sans-serif;
  text-align: center;
  line-height: 50px; }
.cart-bot__text-button a:hover {
  background-color: #f1393c;
  color: #fff; }
.cart-bot__text-button::before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: -8px;
  top: -8px; }
.cart-bot__more {
  margin: 0 auto;
  display: block;
  width: 220px;
  height: 40px;
  border: 1px solid #2762ac;
  background-color: #fff;
  color: #2762ac;
  font-size: 16px;
  font-family: "Gotham Pro Bold", sans-serif;
  text-align: center;
  line-height: 38px; }
.cart-bot__more:hover {
  background-color: #2762ac;
  color: #fff; }
.cart-bot__check {
  padding-left: 25px; }
.cart-bot__check span {
  padding-left: 5px;
  font-size: 14px; }

.search-page .full-wrap__right .c-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 25px; }
.search-page .full-wrap__right .c-items__wrap {
  width: 100%; }

.search-page__title {
  font-weight: 700;
  margin-bottom: 25px; }

.search-page__subtitle {
  font-weight: 600;
  margin-bottom: 15px; }

.search-page__item {
  margin-bottom: 25px; }
.search-page__item:last-child {
  margin-bottom: 0; }

.default-page h1, .default-page h2 {
  font-weight: 700;
  margin-bottom: 25px; }

.default-page p {
  margin-bottom: 15px;
  line-height: 1.3; }

.order__block {
  background-color: #ebedec;
  padding-top: 70px;
  position: relative; }
.order__block .order__block__inner,
.order__block .order__block-button {
  display: none; }
.order__block .order__block-title span {
  display: block; }
.order__block.active {
  padding-bottom: 25px; }
.order__block.active .order__block__inner,
.order__block.active .order__block-button {
  display: block; }
.order__block.active .order__block-title span {
  display: none; }
.order__block-title {
  background-color: #d0dee8;
  padding: 15px 20px;
  font-size: 18px;
  font-family: "Gotham Pro Bold", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0; }
.order__block-title span {
  display: none;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #335da7;
  cursor: pointer; }
.order__block-title span:hover {
  text-decoration: underline; }
.order__block__inner {
  background-color: #fff;
  padding: 20px 15px;
  width: calc(100% - 30px);
  margin: 0 auto 15px; }
.order__block-button {
  display: none;
  padding-left: 15px; }
.order__block-subtitle {
  font-size: 16px;
  font-family: "Gotham Pro Bold", sans-serif;
  margin-bottom: 20px; }
.order__block label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
  padding-left: 25px; }
.order__block label input[type="radio"] + span {
  padding-left: 15px; }
.order__block label.label-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
.order__block label.label-column span {
  margin-bottom: 10px; }
.order__block label.label-column input:not([type="radio"]) {
  width: 300px;
  max-width: 100%;
  padding: 0 15px;
  height: 50px; }

.my-default-page {
  position: relative;
  z-index: 1; }
.my-default-page__certs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
.my-default-page__certs .item {
  padding: 15px 15px;
  width: 50%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  cursor: pointer; }
.my-default-page__certs .item:hover {
  -webkit-transform: scale(2, 2);
  transform: scale(2, 2); }

.footer {
  background-color: #0f75bc;
  padding: 15px 0; }
.footer-nav, .footer-subnav {
  margin-bottom: 20px; }
.footer-nav ul, .footer-subnav ul {
  list-style: none;
  padding-left: 0; }
.footer-nav ul li, .footer-subnav ul li {
  margin-bottom: 3px; }
.footer-nav ul li:last-child, .footer-subnav ul li:last-child {
  margin-bottom: 0; }
.footer-nav ul li a, .footer-subnav ul li a {
  color: #fff;
  display: block; }
.footer-info__logo {
  width: 300px;
  max-width: 100%;
  margin: 0 auto 25px; }
.footer-info__phone {
  color: #fff;
  font-family: "Gotham Pro Bold", sans-serif;
  display: block;
  text-align: center; }
.footer-info__mail {
  color: #fff;
  font-family: "Gotham Pro Bold", sans-serif;
  display: block;
  margin-bottom: 30px;
  text-align: center; }
.footer-info__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px; }
.footer-info__social a {
  width: 40px;
  height: 30px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }
.footer-info__social a:last-child {
  margin-right: 0; }
.footer-info__social a.vk {
  background-image: url("./files/imgs/icons/vk2.png"); }
.footer-info__social a.facebook {
  background-image: url("./files/imgs/icons/face2.png"); }
.footer-info__social a.youtube {
  background-image: url("./files/imgs/icons/you2.png"); }
.footer-info__button {
  margin: 0 auto 35px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#b60606), to(#ef2a2a));
  background: linear-gradient(180deg, #b60606 0%, #ef2a2a 100%);
  border: 10px solid #d0dee8;
  width: 114px;
  height: 114px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  font-family: "Gotham Pro Bold", sans-serif;
  cursor: pointer; }
.footer-info__button:hover {
  background: #ba0808; }
.footer-copyrights p {
  text-align: center;
  color: #fff; }
.footer-copyrights p a {
  color: inherit;
  font-size: inherit; }
.footer-copyrights p:first-child {
  margin-bottom: 10px; }

.callback {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101; }
.callback__back {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #636363;
  cursor: pointer; }
.callback__form {
  position: absolute;
  left: 50%;
  top: calc(50% + 15px);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: calc(100% - 40px);
  background-color: #fff;
  padding: 25px 20px; }
.callback__form-exit {
  width: 36px;
  height: 36px;
  background-color: #636363;
  position: absolute;
  right: -5px;
  top: -40px;
  border-radius: 50%;
  cursor: pointer; }
.callback__form-exit:hover {
  -webkit-box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 2px 8px 0px rgba(0, 0, 0, 0.75);
  background-color: #848484; }
.callback__form-exit::before {
  display: block;
  content: '';
  width: 22px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 7px;
  top: 17px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
.callback__form-exit::after {
  display: block;
  content: '';
  width: 22px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 7px;
  top: 17px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.callback__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.callback__form form p {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px; }
.callback__form form label {
  margin-bottom: 10px;
  display: block; }
.callback__form form label span {
  display: block;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px; }
.callback__form form label input {
  width: 440px;
  max-width: 100%;
  border: 1px solid #8d8d8d;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 1, 1, 0.3);
  box-shadow: inset 0px 1px 1px 0px rgba(0, 1, 1, 0.3);
  height: 43px;
  padding: 0 10px; }
.callback__form form label textarea {
  width: 440px;
  max-width: 100%;
  border: 1px solid #8d8d8d;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 1, 1, 0.3);
  box-shadow: inset 0px 1px 1px 0px rgba(0, 1, 1, 0.3);
  padding: 5px 10px;
  height: 120px; }
.callback__form form > .def-f-button {
  background-color: #da3134;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  margin: 0;
  border: none;
  padding: 0;
  height: 60px;
  width: 440px;
  max-width: 100%;
  cursor: pointer; }
.callback__form form > .def-f-button:hover {
  background-color: #f1393c; }
.callback__form form.out {
  display: none; }
.callback__form-out {
  display: block; }
.callback__form-out img {
  margin: 0 auto 25px;
  width: 150px; }
.callback__form-out p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600; }
.callback__form-out span {
  text-align: center;
  display: block; }
.callback__form-out.out {
  display: none; }

.org-bye {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101; }

.thanks {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101; }

.manager-callback {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101; }

.map-open {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101; }
.map-open .callback__form {
  width: 100%; }

.add-to-cart-callback {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101; }
.add-to-cart-callback br {
  display: none; }
.add-to-cart-callback .add-to-cart-callback__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.add-to-cart-callback p {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px; }
.add-to-cart-callback .go-to-cart {
  background-color: #da3134;
  color: #fff;
  font-size: 18px;
  font-family: "Gotham Pro Bold", sans-serif;
  text-align: center;
  width: 300px;
  max-width: 100%;
  height: 50px;
  line-height: 50px;
  margin-bottom: 25px; }
.add-to-cart-callback .go-to-cart:hover {
  background-color: #f1393c; }
.add-to-cart-callback .go-to-order {
  display: inline-block;
  margin-left: auto;
  width: 300px;
  max-width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px; }

@media screen and (min-width: 1200px) {
  .footer {
    padding: 20px 0;
    position: relative; }
  .footer-nav ul li, .footer-subnav ul li {
    margin-bottom: 10px; }
  .footer-info__logo {
    margin: 0 0 25px; }
  .footer-info__logo img {
    margin-left: 0; }
  .footer-info__phone {
    text-align: left;
    margin-bottom: 5px; }
  .footer-info__mail {
    text-align: left; }
  .footer-info__social {
    width: 120px; }
  .footer-info__button {
    position: absolute;
    right: 50px;
    top: 125px; }
  .add-to-cart-callback br {
    display: block; }
  .add-to-cart-callback .add-to-cart-callback__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .add-to-cart-callback .add-to-cart-callback__wrap p {
    min-width: 100%; }
  .add-to-cart-callback .add-to-cart-callback__wrap .go-to-cart {
    max-width: 250px;
    margin-bottom: 0;
    height: auto;
    line-height: 1.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 10px; }
  .add-to-cart-callback .add-to-cart-callback__wrap .go-to-order {
    max-width: 250px;
    height: auto;
    line-height: 1.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 10px; }
  .add-to-cart-callback .add-to-cart-callback__wrap img {
    padding-top: 25px;
    width: 100%;
    margin: 0 auto; } }

@media screen and (min-width: 768px) {
  .delivery__imgs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .delivery__imgs-map {
    min-width: 100%; }
  .delivery__imgs-face {
    max-width: calc(50% - 10px); }
  .delivery__imgs-build {
    max-width: calc(50% - 10px); }
  .orgteh .full-wrap__right .orgitem-wrap {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .orgteh .full-wrap__right .org__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .catalogs .full-wrap__right .c-items__wrap {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .catalogs .full-wrap__right .c-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .catalogs .full-wrap__right .catalogs__sort-cartrige {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .catalogs .full-wrap__right .catalogs__sort-cartrige__title {
    margin-bottom: 0;
    margin-right: 25px;
    width: auto; }
  .catalogs .full-wrap__right .catalogs__sort-cartrige__inputs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .catalogs .full-wrap__right .catalogs__sort-cartrige__inputs label {
    margin-right: 15px; }
  .catalogs .full-wrap__right .catalogs__sort-cartrige__inputs label:last-child {
    margin-right: 0; }
  .catalogs .full-wrap__right .catalogs__sort-cartrige__inputs label span {
    width: auto; } }

@media screen and (min-width: 1200px) {
  .first-slider .item {
    height: 475px; }
  .first-slider .item .main-slider-item__link {
    top: 86px;
    left: calc(50% + 300px);
    bottom: auto; }
  .first-slider .item .main-slider-item__link::before {
    left: -35px;
    top: -25px; }
  .first-slider .item .main-slider-item__link h2 {
    line-height: 1.2;
    font-size: 26px;
    width: 600px;
    padding: 25px 30px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px; }
  .about {
    position: relative; }
  .about__text p {
    max-width: 850px; }
  .about__text p:last-child {
    margin-bottom: 0; }
  .about__more {
    position: absolute;
    right: 10%;
    top: 0;
    width: 200px; }
  .advantages {
    padding-top: 55px;
    margin-bottom: 0; }
  .advantages .def-title {
    margin-bottom: 50px; }
  .def-ask.backe5e5e5 {
    padding-bottom: 40px;
    margin-bottom: 50px; }
  .def-ask.backe5e5e5 .def-ask__wrap {
    background-color: #fff;
    height: 260px; }
  .def-ask.backe5e5e5 .def-ask__img {
    display: none; }
  .def-ask.backe5e5e5 .def-ask__title {
    background-color: #6d7991;
    font-size: 16px;
    font-family: "Gotham Pro Regular", sans-serif;
    height: 160px;
    margin-bottom: 0;
    text-align: left;
    padding: 25px 25px 0;
    line-height: 1.2; }
  .def-ask.backe5e5e5 .def-ask__button {
    position: absolute;
    left: 180px;
    top: 160px; }
  .clients__top-text {
    max-width: 625px;
    margin-bottom: 45px; }
  .clients__slider {
    padding-bottom: 30px; }
  .clients__slider .owl-dots {
    bottom: -10px; }
  .clients__slider .owl-item .item {
    border: 3px solid transparent;
    border-radius: 20px; }
  .clients__slider .owl-item.client-current {
    border: 3px solid #d6383b; }
  .clients__monial-title {
    padding-left: 80px;
    max-width: 510px;
    background-position: 25px top; }
  .clients__monial-text {
    padding-left: 80px; }
  .delivery {
    padding-bottom: 105px; }
  .delivery__text {
    max-width: 650px;
    margin-bottom: 0; }
  .delivery__text p {
    line-height: 1.2; }
  .delivery__imgs {
    position: relative; }
  .delivery__imgs-map {
    min-width: 0;
    max-width: 560px; }
  .delivery__imgs-face {
    position: absolute;
    left: 0;
    top: 40px; }
  .delivery__imgs-build {
    position: absolute;
    right: 0;
    top: -190px; }
  .services .def-title {
    margin-left: auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding-left: 392px; }
  .services-subtitle {
    font-weight: 700;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .services-text {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4; }
  .services-product {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; }
  .services-product .item {
    padding-top: 15px; }
  .full-wrap__left {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .full-wrap__left .sub-block {
    margin-bottom: 50px; }
  .full-wrap__right {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .full-wrap__right .form {
    padding: 30px 30px 20px; }
  .full-wrap__right .form .ordered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
  .full-wrap__right .form .ordered__text {
    margin: 0; }
  .full-wrap__right .form .ordered__button {
    margin: 0;
    cursor: pointer; }
  .full-wrap__right .form .download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .full-wrap__right .form .download__input {
    width: 350px; }
  .full-wrap__right .top-text .maw450 {
    max-width: 450px; }
  .full-wrap__right .delivery__imgs-map {
    margin-left: 0;
    max-width: 450px; }
  .full-wrap__right .delivery__imgs-build {
    width: 400px;
    min-width: 400px;
    top: -40px; }
  .full-wrap__right .bot-text__map img {
    width: 100%; }
  .full-wrap__right .bot-text__addresses-city ul li:not(:first-child) {
    padding: 0 110px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .full-wrap__right .top-text .img-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .full-wrap__right .top-text .img-left img {
    max-width: 130px;
    margin-right: 25px;
    margin-bottom: 0; }
  .full-wrap__right .autsorting-filter {
    padding: 45px 30px; }
  .full-wrap__right .autsorting-filter__counts input {
    margin-bottom: 0; }
  .full-wrap__right .autsorting-filter .download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .full-wrap__right .autsorting-filter .download__title {
    margin-bottom: 0;
    padding-right: 25px; }
  .full-wrap__right .autsorting-filter .download #input-down-file .download__button {
    margin-bottom: 0; }
  .full-wrap__right .my-default-page__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .full-wrap__right .my-default-page__block-left {
    margin-bottom: 0;
    min-width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .full-wrap__right .my-default-page__block-right span {
    display: inline;
    text-align: center; }
  .full-wrap__right .my-default-page__button {
    width: 400px; }
  .full-wrap__right .my-default-page__button.not-wide {
    width: 300px; }
  .video {
    padding-top: 45px;
    padding-bottom: 40px; }
  .video-text .def-title {
    font-size: 24px; }
  .only_product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .only_product h1 {
    min-width: 100%; }
  .only_product .only_product-img {
    margin: 0 0 25px; }
  .only_product__text {
    width: calc(100% - 300px);
    margin-bottom: 25px; }
  .only_product__description {
    min-width: 100%; }
  .cart-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .cart-top__title {
    width: 240px; }
  .cart-top__subtitle {
    display: block; }
  .cart-top__subtitle.title {
    width: 272px; }
  .cart-top__subtitle.price {
    width: 160px; }
  .cart-top__subtitle.discount {
    width: 100px; }
  .cart-top__subtitle.count {
    width: 120px; }
  .cart-items-wrap .cart-item {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .cart-items-wrap .cart-item__input {
    margin-right: 20px; }
  .cart-items-wrap .cart-item__img {
    min-width: 130px;
    margin-right: 45px;
    margin-bottom: 0; }
  .cart-items-wrap .cart-item__img img {
    max-width: 130px;
    margin: 0 auto; }
  .cart-items-wrap .cart-item__title {
    position: static;
    width: 260px;
    margin-right: 35px; }
  .cart-items-wrap .cart-item__price {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    width: 110px;
    margin-right: 20px; }
  .cart-items-wrap .cart-item__discount {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    min-width: 0;
    margin-bottom: 0;
    margin-right: 25px;
    width: 100px; }
  .cart-items-wrap .cart-item__count {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    margin-bottom: 0;
    width: 100px;
    margin-right: 25px; }
  .cart-items-wrap .cart-item__count-title {
    display: none; }
  .cart-items-wrap .cart-item__summary {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
    width: 130px;
    margin-right: 0; }
  .cart-items-wrap .cart-item__summary-title {
    display: none; }
  .cart-bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px; }
  .cart-bot__text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 640px;
    margin-bottom: 0; }
  .cart-bot__text br {
    display: none; }
  .cart-bot__more {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .org-detail__inner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .org-detail__inner-content::-webkit-scrollbar {
    width: 8px; }
  .org-detail__inner-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3); }
  .org-detail__inner-content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey; }
  .org-detail__inner-content__title {
    min-width: 100%; }
  .org-detail__inner-content .block {
    width: 25%;
    padding: 0 15px; }
  .search-page .full-wrap__right .c-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 35px; }
  .search-page .full-wrap__right .c-items__wrap {
    width: 33%; }
  .order__block-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px; }
  .order__block-wrap label {
    margin-right: 25px;
    margin-bottom: 0; }
  .order__block-wrap label:last-child {
    margin-right: 0; }
  .order__block-wrap label:not(:first-child) {
    width: 120px; }
  .order__block-wrap label:last-child {
    width: 150px; }
  .cart-for-order .cart-item__img {
    padding-left: 33px; }
  .my-default-page__certs .item {
    padding: 0 15px;
    margin-bottom: 25px;
    width: 33.3%; }
  .my-default-page__certs .item:hover {
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3); }
  .advantages .adv-current .item {
    background: #6d7991; }
  .advantages .adv-current .item__text {
    color: #fff; } }
